In [115]:
print("ì•ˆë…•í•˜ì„¸ìš”")

ì•ˆë…•í•˜ì„¸ìš”

In [116]:
import pandas as pd
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [117]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['Survived'])
y = df['Survived']

In [118]:
train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

[     PassengerId  Pclass                                           Name  \
 692          693       3                                   Lam, Mr. Ali
 481          482       2               Frost, Mr. Anthony Wood "Archie"
 527          528       1                             Farthing, Mr. John
 855          856       3                     Aks, Mrs. Sam (Leah Rosen)
 801          802       2    Collyer, Mrs. Harvey (Charlotte Annie Tate)
 ..           ...     ...                                            ...
 359          360       3              Mockler, Miss. Helen Mary "Ellie"
 258          259       1                               Ward, Miss. Anna
 736          737       3        Ford, Mrs. Edward (Margaret Ann Watson)
 462          463       1                              Gee, Mr. Arthur H
 507          508       1  Bradley, Mr. George ("George Arthur Brayton")

         Sex   Age  SibSp  Parch      Ticket      Fare Cabin Embarked
 692    male   NaN      0      0        1601   56.4958   NaN        S
 481    male   NaN      0      0      239854    0.0000   NaN        S
 527    male   NaN      0      0    PC 17483  221.7792   C95        S
 855  female  18.0      0      1      392091    9.3500   NaN        S
 801  female  31.0      1      1  C.A. 31921   26.2500   NaN        S
 ..      ...   ...    ...    ...         ...       ...   ...      ...
 359  female   NaN      0      0      330980    7.8792   NaN        Q
 258  female  35.0      0      0    PC 17755  512.3292   NaN        C
 736  female  48.0      1      3  W./C. 6608   34.3750   NaN        S
 462    male  47.0      0      0      111320   38.5000   E63        S
 507    male   NaN      0      0      111427   26.5500   NaN        S

 [712 rows x 11 columns],
      PassengerId  Pclass                                          Name  \
 565          566       3                          Davies, Mr. Alfred J
 160          161       3                      Cribb, Mr. John Hatfield
 553          554       3             Leeni, Mr. Fahim ("Philip Zenni")
 860          861       3                       Hansen, Mr. Claus Peter
 241          242       3                Murphy, Miss. Katherine "Kate"
 ..           ...     ...                                           ...
 880          881       2  Shelley, Mrs. William (Imanita Parrish Hall)
 91            92       3                    Andreasson, Mr. Paul Edvin
 883          884       2                 Banfield, Mr. Frederick James
 473          474       2  Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
 637          638       2                           Collyer, Mr. Harvey

         Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
 565    male  24.0      2      0         A/4 48871  24.1500   NaN        S
 160    male  44.0      0      1            371362  16.1000   NaN        S
 553    male  22.0      0      0              2620   7.2250   NaN        C
 860    male  41.0      2      0            350026  14.1083   NaN        S
 241  female   NaN      1      0            367230  15.5000   NaN        Q
 ..      ...   ...    ...    ...               ...      ...   ...      ...
 880  female  25.0      0      1            230433  26.0000   NaN        S
 91     male  20.0      0      0            347466   7.8542   NaN        S
 883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
 473  female  23.0      0      0   SC/AH Basle 541  13.7917     D        C
 637    male  31.0      1      1        C.A. 31921  26.2500   NaN        S

 [179 rows x 11 columns],
 692    1
 481    0
 527    0
 855    1
 801    1
       ..
 359    1
 258    1
 736    0
 462    0
 507    1
 Name: Survived, Length: 712, dtype: int64,
 565    0
 160    0
 553    1
 860    0
 241    1
       ..
 880    1
 91     0
 883    0
 473    1
 637    0
 Name: Survived, Length: 179, dtype: int64]

In [119]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [ ]:
X_train.shape   #ê·œì¹™ì€ X_trainë§Œ / í›ˆë ¨ ì ìˆ˜ê°€ ë‹¹ì—°íˆ ë†’ìŒ ì‹¤ì œë³´ë‹¤(ì •í™•ë„ê°€)

(712, 11)

In [121]:
y_train.shape

(712,)

In [122]:
X_test.shape

(179, 11)

In [123]:
y_test.shape

(179,)

In [124]:
df.shape

(891, 12)

ì™€ ë‚˜ì¤‘ì— ê²°ì¸¡ì˜ ì¢…ë¥˜ë„ ì•Œë ¤ì£¼ì‹ ëŒ€
íˆíˆ

In [125]:
for col in ["Age","Cabin","Embarked","Fare"]:
    X_train[f"{col}_isna"] = X_train[col].isna().astype(int)
    X_test[f"{col}_isna"]  = X_test[col].isna().astype(int)

In [126]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_isna,Cabin_isna,Embarked_isna,Fare_isna
692,693,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S,1,1,0,0
481,482,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S,1,1,0,0
527,528,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S,1,0,0,0
855,856,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S,0,1,0,0
801,802,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0,1,1,C.A. 31921,26.2500,NaN,S,0,1,0,0

ìŒ Age_isna	Cabin_isna	Embarked_isna	Fare_isna ì˜ ìƒê²¼êµ°

ì•„í•˜ ì–˜ë„¤ ê²°ì¸¡ì¹˜ì•¼? ê·¸ëŸ¼ ã…‡ã…‹ã…‡ã…‹ ì‹ ë¢°ë„ ë‚®ê² ë„¤? ê°ì•ˆí•˜ê³  í•´ë³¼ê²Œ~

In [127]:
age_med_table = (
    X_train.groupby(["Pclass","Sex"])["Age"]
    .median()
    .reset_index()
    .rename(columns={"Age":"Age_med"})
)
age_med_table

   Pclass     Sex  Age_med
0       1  female     35.0
1       1    male     40.0
2       2  female     29.0
3       2    male     30.0
4       3  female     21.5
5       3    male     26.0

ì½”ë“œë³´ê³  ê²°ê³¼ê°€ ìƒìƒì´ ë˜ì–´ì•¼ í•¨

In [128]:
# titanic ë°ì´í„°ì—ì„œ PclassÂ·Sexë³„ ì¤‘ì•™ê°’(Age_med)ìœ¼ë¡œ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸° ì„
X_train = X_train.merge(age_med_table, on=["Pclass","Sex"], how="left")
X_train["Age"] = X_train["Age"].fillna(X_train["Age_med"])
X_train = X_train.drop(columns=["Age_med"])

X_test = X_test.merge(age_med_table, on=["Pclass","Sex"], how="left")
X_test["Age"] = X_test["Age"].fillna(X_test["Age_med"])
X_test = X_test.drop(columns=["Age_med"])

trainì—ì„œ ì¤‘ì•™ê°’ì„ ë½‘ì•˜ìŒ -> X-testì— ì ìš©
ê·¸ê±¸ ìœ„ ì½”ë“œì—ì„œ mergeë¡œ í•©ì¹¨(ê²°êµ­ ì € ì •ë³´ê°€ ì €ê¸°ì— ë“¤ì–´ê°€ë‹ˆê¹Œ)-> X-testì— ì ìš©(train ê·œì¹™ìœ¼ë¡œ)

ê·¸ë˜ì„œ ë°ì´í„° ëˆ„ìˆ˜ê°€ ë°œìƒí•œë‹¤

ê·œì¹™ ì„¸ì›€ì€ dfì— ìˆëŠ” trainë§Œ , ì ìš©ì€ dfì— ìˆëŠ” trainê³¼ test ë‘˜ ë‹¤ì— ì ìš©í•œë‹¤ëŠ” ë§
ì ìš©ì€ dfì— ì ìš©í•œë‹¤ëŠ” ë§

test ë°ì´í„°ì— train ê·œì¹™ì´ ë“¤ì–´ê°„ë‹¤(ì–´ë”˜ê°€ì— ê²°ì¸¡ì¹˜ê°€ ìˆì—ˆë„¤?! í•˜ëŠ” ê²ƒë„ ì•)

testì—ì„œ ê·œì¹™ì„ ì ìš©í•˜ì§€ ì•ŠëŠ” ì´ìœ ê°€ ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•˜ê³  ê³„ì‚°í•˜ëŠ” ê·œì¹™ì„ ì˜ˆì¸¡í•˜ê²Œë” ê·¸ë ‡ë‹¤ë©´ trainì´ë‘ ê°™ì€ë¡œì§ì˜ ê°’ì„ ë„£ëŠ” ì´ìœ ëŠ”? -> ê°™ì€ dfì—ì„œ ìª¼ê°œì ¸ì„œ ê°™ì€ í˜•íƒœ. x_trainì— ìˆëŠ” ì¤‘ì•™ê°’ì„ ê·¸ëŒ€ë¡œ ì²˜ë¦¬í•´ë„ ë¬¸ì œê°€ ì—†ë‹¤(ë¼ëŠ” ì „ì œ) ã…‡ã…‡

### ê·¸ë˜ì„œ?

### ğŸ” Data Leakage ë°©ì§€ ë° ì „ì²˜ë¦¬ ì›ì¹™
1. **Fit (ê·œì¹™ ìˆ˜ë¦½)**: ì˜¤ì§ `X_train`ì—ì„œë§Œ ê·¸ë£¹ë³„(Pclass, Sex) ì¤‘ì•™ê°’ ì‚°ì¶œ
   - ì´ìœ : Test ë°ì´í„°ì˜ í†µê³„ ì •ë³´(ë¯¸ë˜ ì§€ì‹)ë¥¼ ëª¨ë¸ì´ ë¯¸ë¦¬ í•™ìŠµí•˜ëŠ” 'ì»¤ë‹' ë°©ì§€
2. **Transform (ì ìš©)**: ìˆ˜ë¦½ëœ `train_med` ê·œì¹™ì„ `X_train`ê³¼ `X_test`ì— ë™ì¼í•˜ê²Œ ì ìš©
   - ì´ìœ : ëª¨ë¸ í•™ìŠµ ì‹œ ì‚¬ìš©ëœ ë°ì´í„° ë¶„í¬ì˜ ê¸°ì¤€(ì£ëŒ€)ì„ í‰ê°€ ì‹œì—ë„ ì¼ê´€ë˜ê²Œ ìœ ì§€
3. **ê²°ë¡ **: ì‹¤ì „(Inference) í™˜ê²½ê³¼ ë™ì¼í•œ ì¡°ê±´ì„ ì‹œë®¬ë ˆì´ì…˜í•˜ê¸° ìœ„í•´ TestëŠ” ì˜¤ì§ ì ìš©ì˜ ëŒ€ìƒì¼ ë¿, ê·œì¹™ ìƒì„±ì˜ ì£¼ì²´ê°€ ë  ìˆ˜ ì—†ìŒ

ì§€ê¸ˆì€ fit í•˜ëŠ” ê³¼ì •

X_trainì— ëŒ€í•´ì„œë§Œì˜ ê·œì¹™ì„

ê·¸ ì•ˆì—ì„œ ê²°ì¸¡ì¹˜ë¥¼ ì±„ì›€(mergeì—ì„œ)

# 1. fitì˜ ì—­í• 

ëª¨ë¸ì´ í•™ìŠµ ë°ì´í„°(`X_train`, `y_train`)ë¥¼ ë³´ê³  íŒ¨í„´ì„ í•™ìŠµí•˜ëŠ” ê³¼ì •

ì‰½ê²Œ ë§í•˜ë©´, ëª¨ë¸ì´ **ì…ë ¥ê³¼ ì •ë‹µ ê°„ ê´€ê³„ë¥¼ â€œê¸°ì–µâ€**í•˜ë„ë¡ ë§¤ê°œë³€ìˆ˜ë¥¼ ì¡°ì •í•˜ëŠ” ë‹¨ê³„

**ì˜ˆ: ì„ í˜• íšŒê·€**  
ëª©í‘œ: 

\[
y = wX + b
\]

`fit` ê³¼ì • â†’ ì†ì‹¤ í•¨ìˆ˜(ì˜ˆ: MSE)ë¥¼ ìµœì†Œí™”í•˜ë„ë¡ `w`, `b` ê³„ì‚°

---

# 2. fit ê³¼ì • ë‹¨ê³„ë³„ íë¦„

* **ë°ì´í„° ì…ë ¥ í™•ì¸**  
  - X, yê°€ ì˜¬ë°”ë¥¸ í˜•íƒœì¸ì§€ ì²´í¬  
  - ê²°ì¸¡ì¹˜, ì°¨ì› ë“± í™•ì¸

* **ëª¨ë¸ ì´ˆê¸°í™”**  
  - íŒŒë¼ë¯¸í„°ë¥¼ ê¸°ë³¸ê°’(0 í˜¹ì€ ëœë¤)ìœ¼ë¡œ ì´ˆê¸°í™”

* **ì†ì‹¤ í•¨ìˆ˜ ì •ì˜**  
  - ëª¨ë¸ì´ ì–¼ë§ˆë‚˜ í‹€ë ¸ëŠ”ì§€ í‰ê°€í•˜ëŠ” í•¨ìˆ˜ ì„¤ì •  
  - ì˜ˆ: íšŒê·€ â†’ MSE, ë¶„ë¥˜ â†’ Cross-Entropy

* **ìµœì í™” (Optimization)**  
  - ì†ì‹¤ì„ ìµœì†Œí™”í•˜ë„ë¡ íŒŒë¼ë¯¸í„° ì—…ë°ì´íŠ¸  
  - ê²½ì‚¬í•˜ê°•ë²•(Gradient Descent) ê°™ì€ ì•Œê³ ë¦¬ì¦˜ ì‚¬ìš©

* **í•™ìŠµ ì™„ë£Œ í›„ ìƒíƒœ ì €ì¥**  
  - ìµœì¢… íŒŒë¼ë¯¸í„°(`w`, `b` ë“±)ë¥¼ ëª¨ë¸ ë‚´ë¶€ì— ì €ì¥  
  - ì´í›„ `predict` ë‹¨ê³„ì—ì„œ ì‚¬ìš© ê°€ëŠ¥

---

# 3. fit ì´í›„

* ëª¨ë¸ì€ í•™ìŠµ ë°ì´í„° ê¸°ë°˜ íŒ¨í„´ì„ ë°˜ì˜í•œ ìƒíƒœ  
* `predict(X_test)` â†’ í•™ìŠµí•œ íŒ¨í„´ìœ¼ë¡œ ì˜ˆì¸¡ ê°€ëŠ¥  
* `score(X_test, y_test)` â†’ í•™ìŠµ ê²°ê³¼ í‰ê°€ ê°€ëŠ¥

---

ğŸ’¡ **í•µì‹¬ ìš”ì•½**  

* `fit` = ëª¨ë¸ì´ ë°ì´í„° ë³´ê³  ìŠ¤ìŠ¤ë¡œ â€œë°°ìš°ëŠ”â€ ë‹¨ê³„  
* íë¦„: ì…ë ¥ â†’ ì†ì‹¤ ê³„ì‚° â†’ íŒŒë¼ë¯¸í„° ì¡°ì • â†’ ìµœì¢… ëª¨ë¸ ì™„ì„±

ëŠ˜~~~~ ê¸°ì¤€ì€ train, ì ìš©ì€ êµ¬ë¶„í•´ì„œ train / test

In [129]:
import pandas as pd

df = pd.read_csv("train.csv")

# Sex(male/female), Embarked(S/C/Q) ì›-í•« ì¸ì½”ë”©
df = pd.get_dummies(df, columns=["Sex", "Embarked"], drop_first=True)

df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,True,False,True

- get_dummies

drop_first : ì™œ? 

íŒë³„ì´ ê°€ëŠ¥í•˜ë©´ í–‰ í•˜ë‚˜ê°€ ì—†ì–´ì ¸ë„ ë¨

Enbarkedì—ì„œ S(F) Q(F) ë©´ C ì»¬ëŸ¼ì´ ì—†ì–´ë„? Cê² êµ¬ë‚˜ í•˜ì–ìŒ ã…‡ã…‡
ë‚¨ì„±ì´ ì•„ë‹ˆë©´ ì—¬ì„±ì¸ ê²ƒì²˜ëŸ¼

ì–´ë–¤ê²Œ ì¦ê°€í•˜ë©´ ê°™ì´ ì¦ê°€í•´ < ì´ëŸ°ê±´ í†µê²Œì—ì„œ ì¢‹ì§€; ì•Šì´ë¯€
ë…ë¦½ì„±ì´ ì¢‹ì€ê±° (ê¸€í‚¨í•´)

ê²°êµ­~~~

ë‹¤ì¤‘ê³µì‚°ì„±ì„ ì—†ì• ê¸° ìœ„í•´ì„œì´ë‹¤~

get_dummiesë¥¼ í•˜ë©´ ì»¬ëŸ¼ ì •ë ¬ë„ í•˜ê³ 
reindex í•„ìˆ˜ì´ë„ë‹¤ : ì™œì¸ì§€ëŠ” ì´ë”° TOP3ì—ì„œ ã„±ã„±

`X_test = X_test.reindex(columns=X_train.columns, fill_value=0)`

ì´ì œ ë²”ì£¼í˜• ë§ì·„ìœ¼ë‹ˆê¹Œ ìˆ˜ì¹˜í˜• í•  ì°¨ë¡€

ì~ ìŠ¤ì¼€ì¼ë§ ë“œê°€ì

In [130]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

df = pd.read_csv("train.csv")

#ê²°ì¸¡ ëŒ€ì¹˜: Age ê²°ì¸¡ì„ ì¤‘ì•™ê°’ìœ¼ë¡œ ì±„ì›Œì„œ Age_fill ë§Œë“¤ê¸°
df["Age_fill"] = df["Age"].fillna(df["Age"].median())

# FareëŠ” ê·¹ë‹¨ê°’ì´ ê½¤ ìˆì–´ì„œ ë¡œê·¸ ë³€í™˜ì„ ê°™ì´ ì“°ëŠ” ê²½ìš°ê°€ ë§ìŒ
df["Fare_log1p"] = np.log1p(df["Fare"])  # log(1+Fare)

# ìŠ¤ì¼€ì¼ë§ì— ì‚¬ìš©í•  ìˆ˜ì¹˜í˜• ì—´ ì„ íƒ
num_cols = ["Age_fill", "Fare_log1p"]

##. ì‚¬ì‹¤ìƒ ì´ 3ê°œë§Œ ì•Œë©´ ë¨
####### í‘œì¤€í™” (Z-ìŠ¤ì½”ì–´): í‰ê·  0, í‘œì¤€í¸ì°¨ 1
scaler_std = StandardScaler()
df[["Age_std", "Fare_std"]] = scaler_std.fit_transform(df[num_cols])

###### 0~1 ì •ê·œí™” (Min-Max): ìµœì†Œ 0, ìµœëŒ€ 1
scaler_mm = MinMaxScaler()
df[["Age_mm", "Fare_mm"]] = scaler_mm.fit_transform(df[num_cols])

###### ë¡œë²„ìŠ¤íŠ¸ ìŠ¤ì¼€ì¼: ì¤‘ì•™ê°’ 0, IQR(ì‚¬ë¶„ìœ„ ë²”ìœ„) ê¸°ì¤€ (ì´ìƒì¹˜ì— ëœ ë¯¼ê°)
scaler_rb = RobustScaler()
df[["Age_rb", "Fare_rb"]] = scaler_rb.fit_transform(df[num_cols])

# ê²°ê³¼ í™•ì¸
df[["Age_fill", "Fare_log1p",
    "Age_std", "Fare_std",
    "Age_mm", "Fare_mm",
    "Age_rb", "Fare_rb"]].head()

,Age_fill,Fare_log1p,Age_std,Fare_std,Age_mm,Fare_mm,Age_rb,Fare_rb
0,22.0,2.110213,-0.565736,-0.879741,0.271174,0.338125,-0.461538,-0.490934
1,38.0,4.280593,0.663861,1.361220,0.472229,0.685892,0.769231,1.206641
2,26.0,2.188856,-0.258337,-0.798540,0.321438,0.350727,-0.153846,-0.429423
3,35.0,3.990834,0.433312,1.062038,0.434531,0.639463,0.538462,0.980004
4,35.0,2.202765,0.433312,-0.784179,0.434531,0.352955,0.538462,-0.418544

## stats.zscore ì•ˆì“°ê³  ì´ê±°?!

`scaler_std = StandardScaler()`
`df[["Age_std", "Fare_std"]] = scaler_std.fit_transform(df[num_cols])`

- ì‚¬ìœ  : StandardScaler ì— ì´ë¯¸ ë“¤ì–´ê°€ìˆìŒ
- ì•„ ê·¸ëŸ¬ë„¤ ì–˜ëŠ” Scikit-learnë„¤ Rì—ì„œë§Œ ê¸°ë³¸ì´ì§€ ì•„í•˜
- ë¨¸ì‹ ëŸ¬ë‹ ì¤‘ì—ì„œ í‘œì¤€í™”í•  ë•ŒëŠ” ì´ê±° ë§ì´ ì¼ë˜ ê²ƒ ê°™ìŒ ã…‡ã…‡ (statsëŠ” í†µê³„ë¶„ì„ìš©?)
    - ë°ì´í„°ë¥¼ ê± ë„£ìœ¼ë©´ í‰ê·  í‘œì¤€í¸ì°¨ êµ¬í•´ì„œ ì‹¹ í•˜ëŠ”ê±°ë‘

- ì´ë¯¸ fit(í‰ê· ê³¼ í‘œì¤€í¸ì°¨ ê³„ì‚°) í•˜ê³  transform(ë³€í™˜?ì ìš©)í–ˆìœ¼ë‹ˆê¹Œ? ê± ì´ ë°ì´í„°ê°€ì§€ê³  
Z = (ë°ì´í„° ê°’ - í‰ê· ) / í‘œì¤€í¸ì°¨
- ë°”ë¡œ ëŒë¦¬ë©´ ë¨ ã…‹
    - ì´ë¯¸ ìƒì„±ëœ Age_std, Fare_std ìì²´ê°€ ê·¸ëƒ¥ zscoreì„

- ë³€í™˜ì´ ì˜ë„ëŒ€ë¡œ ëëŠ”ì§€ ì ê²€
    - **StandardScaler ê²°ê³¼**
        - ì „ì²´ì ìœ¼ë¡œ **í‰ê· ì´ 0 ê·¼ì²˜**, **í‘œì¤€í¸ì°¨ê°€ 1 ê·¼ì²˜**ë©´ ì •ìƒ (ë”¥í•˜ê²Œ ë³¼ í•„ìš” x)
    - **MinMaxScaler ê²°ê³¼**
        - ê°’ì´ **0~1 ì‚¬ì´**ë©´ ì •ìƒ(ìƒˆ ë°ì´í„°ê°€ í•™ìŠµ ë•Œ max/minì„ ë„˜ìœ¼ë©´ **1ë³´ë‹¤ í¬ê±°ë‚˜ 0ë³´ë‹¤ ì‘ê²Œ** ë‚˜ì˜¬ ìˆ˜ ìˆìŒ)
    - **RobustScaler ê²°ê³¼**
        - ì´ìƒì¹˜ê°€ ìˆëŠ” `Fare` ê°™ì€ ì»¬ëŸ¼ì—ì„œ **Standardë³´ë‹¤ íŠ€ëŠ” ê°’ ì˜í–¥ì´ ëœí•œì§€** ë³´ë©´ ë¨

In [131]:
### ì´ìƒì¹˜ëŠ” íŒë‹¨!

# ì œê±°í• ì§€ ë³´ì •í• ì§€ ë­ ì–´ì¼€í• ì§€ ì´ê²Œ ì°¸ ë°ì´í„°ë³´ë‹¤ ë§‰ ìƒê°í•˜ê³  ì•„ ì´ê±´ ì¸¡ì •ì˜¤ë¥œë° ì–´ì©Œêµ¬ë¸”ë¼ë¸”ë¼ í•˜ë©´ ë¨(?)
# ìº¡í•‘ì´ ì¢‹ìŒ êµ¿ì…ã…‚ë‹ˆë‹¤ ì™œ? ì–˜ë„ ê²°êµ­ ì •ê·œë¶„í¬ë¥¼ ê°€ì¥ ì˜ ì´í•´í•˜ë‹ˆê¹Œ

- **ì²˜ë¦¬ ì„ íƒì§€**
    - **ìº¡í•‘(ìœˆì €í™”)**: ê·¹ë‹¨ê°’ì„ ê²½ê³„ê°’ìœ¼ë¡œ **ë®ì–´ì“°ê¸°** â†’ ì˜í–¥ ì™„í™” + ê´€ì¸¡ ìœ ì§€
    - **ë¡œê·¸/Box-Cox/Yeo-Johnson**: ë¶„í¬ë¥¼ ë” ëŒ€ì¹­ì ìœ¼ë¡œ ë§Œë“¤ì–´ ì„ í˜• ëª¨ë¸ ì í•©ì„± â†‘
    - **ì œê±°**: ì¸¡ì • ì˜¤ë¥˜ê°€ ëª…ë°±í•  ë•Œë§Œ. ì •ë³´ ì†ì‹¤ê³¼ ìƒ˜í”Œ ì™œê³¡ ì£¼ì˜

In [132]:
#ì™¸ìš°ì§€ë§ˆì…”ìš” ê°–ë‹¸ã„²ì“°ì‹œì£  ì´ê±´ ê³µì‹ ã…‡ã…‡

import numpy as np

q1, q3 = X_train["Fare"].quantile([0.25, 0.75]) 
iqr = q3 - q1   
lo, hi = q1 - 1.5*iqr, q3 + 1.5*iqr

X_train["Fare_cap"] = X_train["Fare"].clip(lo, hi)
X_test["Fare_cap"]  = X_test["Fare"].clip(lo, hi)

X_train["Fare_log1p"] = np.log1p(X_train["Fare_cap"].clip(lower=0))
X_test["Fare_log1p"]  = np.log1p(X_test["Fare_cap"].clip(lower=0))

#X_trainí•˜ë˜, iqr ë°©ì‹ìœ¼ë¡œ ê²½ê³„ê°’ ë½‘ê³  train ê¸°ì¤€ìœ¼ë¡œ ë½‘ì€ ê·¸ ê²½ê³„ê°’ì„ ê°–ë‹¤ê°€ í´ë¦¬í•‘(ìº¡í•‘)í•˜ëŠ” ê²ƒ
#ì—¬ë”°ê°€ ë¡œê·¸ë³€í™˜ê¹Œì§€ í•˜ë©´ ë” ì•ˆì •ì ì´ë‹¤~!

ì´ ë¡œìš°ì™€ í•˜ì´ì˜ ê¸°ì¤€ì´ ë˜ëŠ” ê²Œ trainì„ ã…‡ã…‡

ê·¼ë° ì ìš©ì€ train text ë˜‘ê°™ì´ í•¨ (íŠ¹ì„±ì´ ë“¤ì–´ê°ˆê¹Œë´)

In [133]:
X_train["Fare_log1p"]

0      4.051712
1      0.000000
2      4.199550
3      2.336987
4      3.305054
         ...
707    2.183711
708    4.199550
709    3.566005
710    3.676301
711    3.316003
Name: Fare_log1p, Length: 712, dtype: float64

QCC : SQL ì‹¤ì œ í…ŒìŠ¤íŠ¸

## íŒŒìƒë³€ìˆ˜(Feature Engineering)

> ì›ì¹™: **y(ì •ë‹µ)ë¥¼ ë³´ì§€ ì•Šê³ ** Xë§Œìœ¼ë¡œ ë§Œë“ ë‹¤.
>

In [134]:
#ê°€ì¡± ê´€ë ¨

X_train["FamilySize"] = X_train["SibSp"] + X_train["Parch"] +1
X_test["FamilySize"]  = X_test["SibSp"] + X_test["Parch"] +1

X_train["IsAlone"] = (X_train["FamilySize"] ==1).astype(int)
X_test["IsAlone"]  = (X_test["FamilySize"] ==1).astype(int)

In [135]:
# SibSp í˜•ì œìë§¤ Parch ê°€ì¡± ìˆ˜ + 1 í•˜ë©´ ê°€ì¡± ìˆ˜ 
# FamilySizeê°€ 1ì´ë‹¤? í˜¼ì (ì•„ì´ê³ ...)
X_train["FamilySize"] ==1
## -> ë¶ˆë¦¬ì–¸ìœ¼ë¡œ ë‚˜ì˜´

0       True
1       True
2       True
3      False
4      False
       ...
707     True
708     True
709    False
710     True
711     True
Name: FamilySize, Length: 712, dtype: bool

In [136]:
X_train.head()

#í˜¼ìì‡ëŠ”ê±¸ ë”°ë¡œ ë³¼ ìˆ˜ë„ ìˆë‹¤~

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_isna,Cabin_isna,Embarked_isna,Fare_isna,Fare_cap,Fare_log1p,FamilySize,IsAlone
0,693,3,"Lam, Mr. Ali",male,26.0,0,0,1601,56.4958,NaN,S,1,1,0,0,56.4958,4.051712,1,1
1,482,2,"Frost, Mr. Anthony Wood ""Archie""",male,30.0,0,0,239854,0.0000,NaN,S,1,1,0,0,0.0000,0.000000,1,1
2,528,1,"Farthing, Mr. John",male,40.0,0,0,PC 17483,221.7792,C95,S,1,0,0,0,65.6563,4.199550,1,1
3,856,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S,0,1,0,0,9.3500,2.336987,2,0
4,802,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0,1,1,C.A. 31921,26.2500,NaN,S,0,1,0,0,26.2500,3.305054,3,0

In [137]:
#Title (Nameì—ì„œ ì¶”ì¶œ) + í¬ê·€ê°’ ë¬¶ê¸°

X_train["Title"] = X_train["Name"].str.split(",").str[1].str.split(".").str[0].str.strip()
X_test["Title"]  = X_test["Name"].str.split(",").str[1].str.split(".").str[0].str.strip()# trainì—ì„œë§Œ í¬ê·€ Title ê¸°ì¤€ ì •ì˜
title_counts = X_train["Title"].value_counts()

# ë„ˆë¬´ í¬ê·€í•œ ì• ë“¤ì´ 1ì”© ë‚˜ì™€ì„œ í .. ë²”ì£¼ë¡œ ë¬¶ê³  ì‹¶ë‹¤ (êµ³ì´ í•™ìŠµí•  í•„ìš” x ì˜ë¯¸ x ì»¬ëŸ¼ë§Œ ëŠ˜ì–´ë‚¨)
# ìŠ¤í‚¬~

rare_titles = title_counts[title_counts < 10].index # 10ê°œ ë¯¸ë§Œì¸ ì• ë“¤ì˜ indexë¥¼ ë½‘ìŒ

X_train["Title"] = X_train["Title"].replace(rare_titles,"Rare")
X_test["Title"]  = X_test["Title"].replace(rare_titles,"Rare")

- ëˆ„êµ°ì§€ ë³´ê³  ì‹¶ì–´. ê·¸ëŸ¼ ë°”ë¡œ .index

- replace ë¡œ ë°”ê¿”ë²„ë ¤

- í— í™ˆì´ë‘ endë¡œ ë°”ë¡œ í• ìˆ˜ì´ì‘¥ ë‚˜ í—í—í—í—í—

, . ë­ì‹œê¸°ë¡œ ìê¾¸ í•˜ë‚˜ì”© ìë¥´ëŠ” ê²ƒì´ì—¬

ì²«ë²ˆì§¸ ìˆëŠ” ê±°~

In [138]:
X_train["Title"] 

#ì˜¤ì˜¤

0        Mr
1        Mr
2        Mr
3       Mrs
4       Mrs
       ...
707    Miss
708    Miss
709     Mrs
710      Mr
711      Mr
Name: Title, Length: 712, dtype: object

In [139]:
X_train["Title"].value_counts()

Title
Mr        412
Miss      141
Mrs       107
Master     31
Rare       21
Name: count, dtype: int64

In [140]:
## ëª¨ë¸ ì •í™•ë„ëŠ” ì•½~ê°„ ë–¨ì–´ì§€ì§€ë§Œ? ëª¨ë¸ ì¤‘ 100% ì •í™•ë„ëŠ” ì—†ë‹¤
## ê°ì•ˆí•˜ê³  ì»¬ëŸ¼ 14 -> 5ê°œ

In [141]:
### CabinKnown

X_train["CabinKnown"] = X_train["Cabin"].notna().astype(int)
X_test["CabinKnown"]  = X_test["Cabin"].notna().astype(int)

In [142]:
## notnaë‹ˆê¹Œ 1ì€ naê°€ ì•„ë‹˜ 0ì€ ê²°ì¸¡ì„

In [143]:
## ê°™ì€ í‹°ì¼“ê°’ì„ ê°€ì§„ ìŠ¹ã„¹ê°ã„±ë“¤ë„
#TicketFreq (trainì—ì„œë§Œ ë§Œë“  ë¹ˆë„í‘œë¥¼ map)
ticket_freq = X_train["Ticket"].value_counts()
X_train["TicketFreq"] = X_train["Ticket"].map(ticket_freq).fillna(0)
X_test["TicketFreq"]  = X_test["Ticket"].map(ticket_freq).fillna(0)

- ê°™ì€ `Ticket` ê°’ì„ ê°€ì§„ ìŠ¹ê°ì´ ì—¬ëŸ¬ ëª…ì´ë©´
    - ê·¸ë“¤ì€ **ê°™ì€ ì˜ˆì•½/ê°™ì€ ê·¸ë£¹**ì¼ ê°€ëŠ¥ì„±ì´ ë†’ìŒ(ê°€ì¡±, ë™í–‰, ë‹¨ì²´ ë“±)
    - ì¦‰ ê°™ì´ ì›€ì§ì˜€ì„ ê°€ëŠ¥ì„±ì„ ì•”ì‹œí•˜ëŠ” ë³€ìˆ˜
    
    `TicketFreq`ëŠ” ê·¸ë˜ì„œ:
    
    - `1`ì´ë©´ í˜¼ì ì˜ˆë§¤í•œ ëŠë‚Œ
    - `2~4`ë©´ ì†Œê·œëª¨ ë™í–‰
    - ë” í¬ë©´ ë‹¨ì²´(ë“œë¬¼ì§€ë§Œ)

In [144]:
#+ ë¹„ìœ¨ / ì‚¬ì¹™ì—°ì‚°(+, -, x, /) / êµ¬ê°„ í˜¹ì€ ë²”ì£¼í™”ë¡œ íŒŒìƒë³€ìˆ˜ ìƒì„± ê°€ëŠ¥
# # # êµ¬ê°„ í˜¹ì€ ë²”ì£¼í™” ì˜ˆì‹œ
# bins = [0, 29, 39, 49, 120]
# labels = ["20ëŒ€ ì´í•˜", "30ëŒ€", "40ëŒ€", "50ëŒ€ ì´ìƒ"]
# df["age_group"] = pd.cut(df["age_fill"], bins=bins, labels=labels, right=True)  #pd.cut

#pd.cut

- ìŠ¤ì¼€ì¼ë§í•˜ë©´ í•´ì„ì€ ì¢€ ì–´ë ¤ì›Œì§
- ë¶ˆí¸
- ë°§ ê¸°ê³„ëŠ” ì¢‹ì•„í•¨

# ê²°êµ­~~? 

- **ê²°ì¸¡ì¹˜ + ê²°ì¸¡ í”Œë˜ê·¸**
- **ì´ìƒì¹˜(IQR ìº¡í•‘) + log1p**
- **íŒŒìƒë³€ìˆ˜(ê°€ì¡±/Title+Rare/CabinKnown/Deck/TicketFreq)**
- **ìŠ¤ì¼€ì¼ë§(StandardScaler) â€“ trainë§Œ fit**
- **ë²”ì£¼í˜• ì¸ì½”ë”© 2ë²„ì „**
    - `get_dummies` + `reindex(fill_value=0)`
    - (ì‘ìš©) `OneHotEncoder(handle_unknown="ignore", drop="first")`

In [145]:
#ê³µí†µ: ë°ì´í„° ë¡œë“œ + SPLIT
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 1) ë°ì´í„° ë¡œë“œ
df = pd.read_csv("train.csv")

# 2) X / y ë¶„ë¦¬
X = df.drop(columns=["Survived"])
y = df["Survived"]

# 3) SPLIT (ê°€ì¥ ë¨¼ì €!)        #ë°ì´í„° ë‚˜ëˆ„ì…”
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

# ì•ˆì „í•˜ê²Œ copy (SettingWithCopy ë°©ì§€ìš©)
X_train = X_train.copy()
X_test = X_test.copy()

print(X_train.shape, X_test.shape)

(712, 11) (179, 11)

In [146]:
#### TRAINì—ì„œ ê¸°ì¤€ê°’ ë§Œë“¤ê¸°(FIT) + ë‘˜ ë‹¤ì— ì ìš©(TRANSFORM): ê²°ì¸¡/ì´ìƒì¹˜/íŒŒìƒë³€ìˆ˜
# - A/B ì¸ì½”ë”© ë²„ì „(`get_dummies`/`OneHotEncoder`) ëª¨ë‘ ì—¬ê¸°ê¹Œì§€ëŠ” ë™ì¼í•˜ê²Œ ì”€

# 1) ê²°ì¸¡ í”Œë˜ê·¸ ë§Œë“¤ê¸° (ì‹ í˜¸ ë³´ì¡´)         ### í”Œë˜ê·¸ ë§Œë“¤ê¸°
for col in ["Age", "Cabin", "Embarked", "Fare"]:
    X_train[f"{col}_isna"] = X_train[col].isna().astype(int)
    X_test[f"{col}_isna"] = X_test[col].isna().astype(int)

# 2) Embarked ê²°ì¸¡: train ìµœë¹ˆê°’ìœ¼ë¡œ ì±„ìš°ê¸° (trainì—ì„œë§Œ ê¸°ì¤€ê°’ ê³„ì‚°)
emb_mode = X_train["Embarked"].mode()[0]
X_train["Embarked"] = X_train["Embarked"].fillna(emb_mode)
X_test["Embarked"] = X_test["Embarked"].fillna(emb_mode)

# 3) Fare ê²°ì¸¡: train ì¤‘ì•™ê°’ìœ¼ë¡œ ì±„ìš°ê¸° (trainì—ì„œë§Œ ê¸°ì¤€ê°’ ê³„ì‚°)
fare_median = X_train["Fare"].median()
X_train["Fare"] = X_train["Fare"].fillna(fare_median)
X_test["Fare"] = X_test["Fare"].fillna(fare_median)

# 4) Age ê²°ì¸¡: (Pclass, Sex) ê·¸ë£¹ ì¤‘ì•™ê°’ìœ¼ë¡œ ì±„ìš°ê¸°
# - ì¤‘ì•™ê°’ í…Œì´ë¸”ì€ trainì—ì„œë§Œ ë§Œë“¤ê³ 
# - testëŠ” mergeë¡œ ì ìš©ë§Œ í•œë‹¤ (ëˆ„ìˆ˜ ë°©ì§€)
age_med_table = (
    X_train.groupby(["Pclass", "Sex"])["Age"]
    .median()
    .reset_index()
    .rename(columns={"Age": "Age_med"})
)

# trainì— ì ìš©
X_train = X_train.merge(age_med_table, on=["Pclass", "Sex"], how="left")
X_train["Age"] = X_train["Age"].fillna(X_train["Age_med"])
X_train = X_train.drop(columns=["Age_med"])

# testì— ì ìš© (testì—ì„œ groupbyë¡œ ìƒˆë¡œ ê³„ì‚°í•˜ë©´ ì•ˆ ë¨!)
X_test = X_test.merge(age_med_table, on=["Pclass", "Sex"], how="left")
X_test["Age"] = X_test["Age"].fillna(X_test["Age_med"])

X_test = X_test.drop(columns=["Age_med"])

# 5) ì´ìƒì¹˜/ë¶„í¬ ë³€í™˜: Fare IQR ìº¡í•‘ + log1p
# - ìº¡í•‘ ê²½ê³„(lo/hi)ë„ trainì—ì„œë§Œ ê³„ì‚°
q1, q3 = X_train["Fare"].quantile([0.25, 0.75])
iqr = q3 - q1
lo = q1 - 1.5 * iqr
hi = q3 + 1.5 * iqr

X_train["Fare_cap"] = X_train["Fare"].clip(lo, hi)      #clip í´ë¦¬í•‘ í•¨~
X_test["Fare_cap"] = X_test["Fare"].clip(lo, hi)

X_train["Fare_log1p"] = np.log1p(X_train["Fare_cap"].clip(lower=0))
X_test["Fare_log1p"] = np.log1p(X_test["Fare_cap"].clip(lower=0))

# 6) íŒŒìƒë³€ìˆ˜(Feature Engineering)
# 6-1) ê°€ì¡± ë³€ìˆ˜
X_train["FamilySize"] = X_train["SibSp"] + X_train["Parch"] + 1
X_test["FamilySize"]  = X_test["SibSp"]  + X_test["Parch"]  + 1

X_train["IsAlone"] = (X_train["FamilySize"] == 1).astype(int)
X_test["IsAlone"]  = (X_test["FamilySize"] == 1).astype(int)

# 6-2) Title ì¶”ì¶œ
X_train["Title"] = X_train["Name"].str.split(",").str[1].str.split(".").str[0].str.strip()
X_test["Title"]  = X_test["Name"].str.split(",").str[1].str.split(".").str[0].str.strip()

# 6-3) CabinKnown
X_train["CabinKnown"] = X_train["Cabin"].notna().astype(int)
X_test["CabinKnown"]  = X_test["Cabin"].notna().astype(int)

# 6-4) Title í¬ê·€ê°’ Rareë¡œ ë¬¶ê¸° (ê¸°ì¤€ì€ trainì—ì„œë§Œ!)
title_counts = X_train["Title"].value_counts()
rare_titles = title_counts[title_counts < 10].index

X_train["Title"] = X_train["Title"].replace(rare_titles, "Rare")
X_test["Title"]  = X_test["Title"].replace(rare_titles, "Rare")

# 6-5) TicketFreq (trainì—ì„œë§Œ ë¹ˆë„í‘œ ë§Œë“¤ê¸°)
ticket_freq = X_train["Ticket"].value_counts()
X_train["TicketFreq"] = X_train["Ticket"].map(ticket_freq).fillna(0)
X_test["TicketFreq"]  = X_test["Ticket"].map(ticket_freq).fillna(0)

# 7) ëª¨ë¸ ì…ë ¥ì—ì„œ ë¹¼ë„ ë˜ëŠ” ì›ë³¸ í…ìŠ¤íŠ¸ ì»¬ëŸ¼ ì œê±°      ***
# - Name/Ticket/Cabinì€ ê¸°ë³¸ ëª¨ë¸ì—ì„œ ë°”ë¡œ ì“°ê¸° ì–´ë ¤ì›€
drop_cols = ["Name", "Ticket", "Cabin", "Fare", "Fare_cap"]  # FareëŠ” Fare_log1pë¡œ ëŒ€ì²´
X_train = X_train.drop(columns=drop_cols)
X_test = X_test.drop(columns=drop_cols)

print("after feature engineering:", X_train.shape, X_test.shape)

after feature engineering: (712, 17) (179, 17)

In [154]:
#### ë²”ì£¼í˜• ì¸ì½”ë”© A: **pandas get_dummies ë²„ì „**

# - `get_dummies(drop_first=True)`ëŠ” kê°œ ë²”ì£¼ë¥¼ k-1 ë”ë¯¸ë¡œ ë§Œë“¤ì–´ì£¼ëŠ” ì˜µì…˜(drop_first)ì´ ìˆê³  
# `reindex(..., fill_value=0)`ë¡œ **train ì»¬ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ test ì»¬ëŸ¼ì„ ë§ì¶¥ë‹ˆë‹¤**.

# 1) ë²”ì£¼í˜• ì»¬ëŸ¼ ì§€ì • (ì›í•«í•  ê²ƒë“¤)
cat_cols = ["Sex", "Embarked", "Title", "Pclass"]

# 2) get_dummies (train/test ê°ê°)      ### get_dummies
X_train_dum = pd.get_dummies(X_train, columns=cat_cols, drop_first=True)
X_test_dum  = pd.get_dummies(X_test,  columns=cat_cols, drop_first=True)

# 3) train ê¸°ì¤€ìœ¼ë¡œ test ì»¬ëŸ¼ ë§ì¶”ê¸° (ë§¤ìš° ì¤‘ìš”!)
X_test_dum = X_test_dum.reindex(columns=X_train_dum.columns, fill_value=0)

print("after dummies:", X_train_dum.shape, X_test_dum.shape)

# 4) ìŠ¤ì¼€ì¼ë§(ìˆ˜ì¹˜í˜•ë§Œ) - StandardScalerëŠ” trainì—ì„œë§Œ fit
scale_cols = ["Age", "Fare_log1p", "SibSp", "Parch", "FamilySize", "TicketFreq", "FarePerPerson"]   #ìˆ˜ì¹˜í˜•ë°ì´í„°
scale_cols = [c for c in scale_cols if c in X_train_dum.columns]  # ì•ˆì „ì¥ì¹˜

scaler = StandardScaler()
X_train_dum[scale_cols] = scaler.fit_transform(X_train_dum[scale_cols])  # train fit+transform
X_test_dum[scale_cols]  = scaler.transform(X_test_dum[scale_cols])       # test transform only

####------------ X í”¼ì²˜ë¥¼ ë§Œë“¤ì—ˆë‹¤(ì…ë ¥í”¼ì²˜ë¥¼ ë§Œë“œëŠ” ê²Œ ëª©ì ì´ì—ˆê³ (ì˜¤ëŠ˜) ë! í•´ëƒ„)

# 5) ëª¨ë¸ í•™ìŠµ(ì˜ˆì‹œ: ë¡œì§€ìŠ¤í‹± íšŒê·€)
model = LogisticRegression(max_iter=1000)
model.fit(X_train_dum, y_train)

# 6) í‰ê°€
pred = model.predict(X_test_dum)
print("Accuracy:", accuracy_score(y_test, pred))

after dummies: (712, 22) (179, 22)
Accuracy: 0.8100558659217877

d:\sonamu\campstudy_Python\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:406: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [153]:
### ì•ˆì „ì¥ì¹˜ (ìœ„ì—ìˆë˜ê±°)

scale_cols = ["Age", "Fare_log1p", "SibSp", "Parch", "FamilySize", "TicketFreq", "FarePerPerson"]   #ìˆ˜ì¹˜í˜•ë°ì´í„°
scale_cols = [c for c in scale_cols if c in X_train_dum.columns]  # ì•ˆì „ì¥ì¹˜ (ë¦¬ìŠ¤íŠ¸ ì»´í”„ë¦¬í—¨ì…˜)

# c for c in scale_cols if c in X_train_dum.columns
# ë­ê³ ì´ê±°
# ì˜¤? c for cë„¤ in scale_cols(ìˆ˜ì¹˜í˜• ë³€ìˆ˜)ì— ìˆëŠ”ê±° í•˜ë‚˜í•˜ë‚˜ êº¼ë‚´ë¼ if ë§Œì•½ì— in (ìˆìœ¼ë©´) c ì•ˆì— ì¶”ê°€í•˜ë¼(ë¦¬ìŠ¤íŠ¸ ì•ˆì—) ì—†ìœ¼ë©´? ë„£ì§€ë§ˆë„£ì§€ë§ˆ ~ ìˆëŠ” ê²ƒë§Œ ë„£ì–´
    # ë§Œì•½ì— ì—†ìœ¼ë©´? (ìˆ˜ì¹˜í˜• ë³€ìˆ˜ê°€?)
    # ì—†ìœ¼ë©´ ë„£ì§€ ë§ˆ/ ìˆëŠ” ì• ë“¤ë§Œ ë„£ì–´
#í˜¹ì‹œë‚˜~~ë¥¼ ìœ„í•´ì„œ (ì†Œì‹¤ëê±°ë‚˜/ìˆ˜ì¹˜í˜•ì´ ì•„ë‹ˆê±°ë‚˜/) <- ê± info ì°ìœ¼ë©´ ë˜ëŠ” ê±°ì•„ë‹˜? (ë§ìŒ) ê·¼ë° í˜¹ì‹œë‚˜~~

In [148]:
#### ë²”ì£¼í˜• ì¸ì½”ë”© B: **sklearn OneHotEncoder ë²„ì „**

# - `OneHotEncoder(handle_unknown="ignore")`ëŠ” **testì—ì„œ ì²˜ìŒ ë³´ëŠ” ë²”ì£¼ê°€ ë‚˜ì™€ë„**  í•´ë‹¹ ì›í•«ì´ 0ìœ¼ë¡œ ì²˜ë¦¬ë©ë‹ˆë‹¤.

import numpy as np
from sklearn.preprocessing import OneHotEncoder

# 1) ë²”ì£¼í˜•/ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ ë¶„ë¦¬
cat_cols = ["Sex", "Embarked", "Title", "Pclass"]
num_cols = ["Age", "Fare_log1p", "SibSp", "Parch", "FamilySize", "TicketFreq"]

# 2) OneHotEncoder ì¤€ë¹„ (ë²„ì „ ì°¨ì´ ëŒ€ì‘)
try:
    ohe = OneHotEncoder(handle_unknown="ignore", drop="first", sparse_output=False)
except TypeError:
    ohe = OneHotEncoder(handle_unknown="ignore", drop="first", sparse=False)

X_train_cat = ohe.fit_transform(X_train[cat_cols])  # train: fit_transform
X_test_cat  = ohe.transform(X_test[cat_cols])       # test : transform only

# 3) ìˆ˜ì¹˜í˜• ìŠ¤ì¼€ì¼ë§ (trainì—ì„œë§Œ fit)
scaler = StandardScaler()
X_train_num = scaler.fit_transform(X_train[num_cols])
X_test_num  = scaler.transform(X_test[num_cols])

# 4) ë‚˜ë¨¸ì§€(ê²°ì¸¡ í”Œë˜ê·¸, IsAlone, CabinKnown ê°™ì€ ì´ì§„/ì •ìˆ˜ ì»¬ëŸ¼) ë¶™ì´ê¸°
# -> ì—¬ê¸°ì„œëŠ” cat_cols, num_cols ë¹¼ê³  ë‚¨ì€ ê²ƒì„ í†µì§¸ë¡œ ë¶™ì„
rest_cols = [c for c in X_train.columns if c not in cat_cols + num_cols]
X_train_rest = X_train[rest_cols].to_numpy(dtype=float)
X_test_rest  = X_test[rest_cols].to_numpy(dtype=float)

# 5) ìµœì¢… X í•©ì¹˜ê¸°
X_train_final = np.hstack([X_train_num, X_train_rest, X_train_cat])
X_test_final  = np.hstack([X_test_num,  X_test_rest,  X_test_cat])

# 6) ëª¨ë¸ í•™ìŠµ/í‰ê°€
model = LogisticRegression(max_iter=1000)
model.fit(X_train_final, y_train)

pred = model.predict(X_test_final)
print("Accuracy:", accuracy_score(y_test, pred))

d:\sonamu\campstudy_Python\.venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:261: UserWarning: Found unknown categories in columns [2] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(msg, UserWarning)

Accuracy: 0.8044692737430168

d:\sonamu\campstudy_Python\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:406: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(