# H&M 고객 데이터 문제

In [156]:
import pandas as pd

df = pd.read_csv("customer_hm.csv")
print(df.shape)
df.head()

(1048575, 6)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52

In [157]:
# import pandas as pd

# # 예시 데이터프레임: 팀 별 점수
# data = {'Team': ['Red', 'Blue', 'Red', 'Blue'],
#         'Score': [5, 3, 8, 7],
#         'Passion' : [95, 88, 63, 98]}
# df = pd.DataFrame(data)
# print("원본 데이터프레임:\n", df)

In [158]:
# ##그룹별 합계
# # # Team별 Score 합계
# grouped_sum = df.groupby('Team')['Score'].sum()     #팀별로 점수를
# print("팀별 점수 합계:\n", grouped_sum)

In [159]:
# ##그룹별 평균
# grouped_mean = df.groupby('Team')['Score'].mean()
# print("팀별 점수 평균:\n", grouped_mean)

In [160]:
# ##다중 집계
# multi_agg = df.groupby('Team').agg(
#     Score_sum=('Score', 'sum'), #Score에 대한 합
#     Score_mean=('Score', 'mean'),   #Score에 대한 평균
#     Passion_sum=('Passion', 'sum'), #passion에 대한 합
#     Passion_mean=('Passion', 'mean')    #passion에 대한 평균
# )
# print("팀별 점수/열정 평균과 합계:\n", multi_agg)

In [161]:
# titanic_df = pd.read_csv("train.csv")
# titanic_df.head()

어 여기가 아니네

---

### 문제 1 — 그룹화: `club_member_status`별 고객 수
• `club_member_status`로 그룹화해서 **고객 수**를 구하세요. (`groupby` + `size` 또는 `value_counts`)  
• 결과는 내림차순으로 정렬해봅시다.

In [162]:
# TODO: 여기에서 풀이 코드를 작성하세요.
df.groupby('club_member_status').size() #고객 수 = 행수라 지정할 필요가 없으샘
# (결측 포함이라 size)

club_member_status
ACTIVE        982635
LEFT CLUB        359
PRE-CREATE     65581
dtype: int64

In [163]:
status_cnt = df.groupby('club_member_status').size().sort_values(ascending=False)  # 정렬까지 하겟다 (그리고 바로 재정의)
status_cnt

club_member_status
ACTIVE        982635
PRE-CREATE     65581
LEFT CLUB        359
dtype: int64

---

### 문제 2 — 집계표(agg): 상태별 고객 수 + 비율(%)
• 1번 결과를 조금 더 보고서형으로 바꿔봅시다.  
• `club_member_status`별 `count`, `ratio(%)`가 있는 DataFrame을 만드세요.

In [164]:
# TODO: 여기에서 풀이 코드를 작성하세요.
atatus_summary = df.groupby('club_member_status').agg(count = ('customer_id', 'size')).sort_values("count", ascending=False)
atatus_summary['ratio_pct'] = atatus_summary['count'] / atatus_summary['count'].sum() * 100
atatus_summary['ratio_pct']

club_member_status
ACTIVE        93.711466
PRE-CREATE     6.254297
LEFT CLUB      0.034237
Name: ratio_pct, dtype: float64

In [165]:
## 뜯어
atatus_summary = df.groupby('club_member_status').agg(
    count = ('customer_id', 'size')).sort_values(by="count", ascending=False)
# sort_values로 정렬(count를), 내림차순

---

### 문제 3 — 그룹화 + 다중 집계: `fashion_news_frequency`별 나이 요약
• `fashion_news_frequency`별로 **고객 수**, **평균 나이**, **중앙값 나이**를 한 번에 구하세요. (`groupby` + `agg`)  
• 평균 나이는 소수점 2자리로 반올림해봅시다.  
• `count`가 내림차순으로 정렬하세요

In [166]:
# TODO: 여기에서 풀이 코드를 작성하세요.
fn_age  = df.groupby('fashion_news_frequency').agg(
    aaa = ('customer_id', 'size'),
    bbb = ('age', 'mean'),
    ccc = ('age', 'median')
).sort_values('aaa', ascending= False).round(2)

fn_age

                           aaa    bbb   ccc
fashion_news_frequency
NONE                    674698  36.00  31.0
Regularly               373218  37.03  32.0
Monthly                    658  39.39  36.5

---

### 문제 4 — 복수 기준 그룹화: `club_member_status × Active` 요약
• `club_member_status`와 `Active`로 묶어서 다음을 구하세요.  
  1) 고객 수(`size`)  
  2) 평균 나이(`mean`)  
  3) `FN` 평균(=비율로 해석 가능)

In [167]:
# TODO: 여기에서 풀이 코드를 작성하세요.
df.groupby(['club_member_status', 'Active']).agg(
    cust_size = ("customer_id", 'size'),
    age_mean = ("age", 'mean'),
    FN_rate = ("FN", 'mean')
    
)

                           cust_size   age_mean   FN_rate
club_member_status Active
ACTIVE             0          624068  35.537385  0.015623
                   1          358567  37.003241  1.000000
LEFT CLUB          0             356  33.750000  0.002809
                   1               3  44.333333  1.000000
PRE-CREATE         0           61205  40.458296  0.001846
                   1            4376  46.056673  1.000000

---

### 문제 5 — transform: 상태별 평균 나이를 원본 길이 유지로 붙이기
• `club_member_status`별 평균 나이를 각 행에 붙여 `age_mean_by_status` 컬럼을 만드세요. (`transform`)  
• 그리고 `age_diff` = `age - age_mean_by_status` 컬럼도 추가하세요.  
• `[['club_member_status','age','age_mean_by_status','age_diff']]` 5행만 확인!

In [168]:
# TODO: 여기에서 풀이 코드를 작성하세요.

df['age_mean_by_status'] = df.groupby('club_member_status')['age'].transform('mean')
age_mean_by_status

df['age_diff'] = df['age'] - df['age_mean_by_status']   #pandas는 벡터화 연산이 가능하니까 가능가능

df[['club_member_status','age','age_mean_by_status','age_diff']].head()

  club_member_status  age  age_mean_by_status   age_diff
0             ACTIVE   49           36.072281  12.927719
1             ACTIVE   25           36.072281 -11.072281
2             ACTIVE   24           36.072281 -12.072281
3             ACTIVE   54           36.072281  17.927719
4             ACTIVE   52           36.072281  15.927719

---

### 문제 6 — transform(응용): (상태, 뉴스빈도) 그룹 크기 붙이기
• `club_member_status`와 `fashion_news_frequency` 조합별로 그룹 크기(고객 수)를 구해서  
  각 행에 `group_size`로 붙이세요. (`transform('size')`)  
• `group_size`가 큰 조합 TOP 5를 확인해봅시다. (힌트: `drop_duplicates` 활용)

In [169]:
# TODO: 여기에서 풀이 코드를 작성하세요.
df['group_size'] = df.groupby(['club_member_status', 'fashion_news_frequency'])['customer_id'].transform('size')


df.drop_duplicates().head() #어ㅏ 정렬
df.sort_values('group_size', ascending=False).head(5)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,age_mean_by_status,age_diff,group_size
1048574,c88fa6553539a079a4d49f5b6d286d33bdc7117d0acbb9...,0,0,ACTIVE,NONE,49,36.072281,12.927719,613304.0
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49,36.072281,12.927719,613304.0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25,36.072281,-11.072281,613304.0
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24,36.072281,-12.072281,613304.0
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54,36.072281,17.927719,613304.0

In [170]:
### 튜터님 풀이
df['group_size'] = df.groupby(['club_member_status', 'fashion_news_frequency'])['customer_id'].transform('size')

df[["club_member_status", "fashion_news_frequency", "group_size"]].drop_duplicates().sort_values('group_size', ascending=False).head(5)

#["club_member_status", "fashion_news_frequency", "group_size"] 왜 들어가지요
# 이 세개만 필요하니까 세개만 보는 것이군 
# club_member_status, fashion_news_frequency, group_size 음 그러네 딱 이것만 필요하네

     club_member_status fashion_news_frequency  group_size
0                ACTIVE                   NONE    613304.0
4                ACTIVE              Regularly    368719.0
33           PRE-CREATE                   NONE     61039.0
24           PRE-CREATE              Regularly      4495.0
4911             ACTIVE                Monthly       611.0

---

### 문제 7 — unstack: 상태 × 뉴스빈도 고객 수 표 만들기
• `club_member_status × fashion_news_frequency` 고객 수를 구한 뒤, 표 형태로 펼치세요. (`unstack`)  
• 비어있는 조합은 0으로 채우세요. (`fill_value=0`)

In [171]:
# TODO: 여기에서 풀이 코드를 작성하세요.
df.groupby(['club_member_status', 'fashion_news_frequency'])['customer_id'].size().unstack(fill_value=0)

#club_member_status x fashion_news_frequency를 customer_id(고객수(size))로 구하고
# 이 Series 형태의 결과를 df 형태로 unstack(펼치기) 하는데
# fill_value 빈 값은 0으로 채워라

fashion_news_frequency  Monthly    NONE  Regularly
club_member_status
ACTIVE                      611  613304     368719
LEFT CLUB                     0     355          4
PRE-CREATE                   47   61039       4495

---

### 문제 8 — pivot_table: 상태 × 뉴스빈도 활동률(Active 평균)
• `pivot_table`로 아래 표를 만드세요.  
  - index: `club_member_status`  
  - columns: `fashion_news_frequency`  
  - values: `Active` (평균 = 활동률)  
  - 빈 값은 0으로 채우기

In [172]:
# TODO: 여기에서 풀이 코드를 작성하세요.
active_pivot = df.pivot_table(
    index="club_member_status",
    columns="fashion_news_frequency",
    values="Active",
    aggfunc='mean',     ###
    fill_value=0
)

# wide로 펼치는 것 ^^;;...

---

### 문제 9 — melt: 8번 피벗 표를 long(그래프용)으로 바꾸기
• 8번 `active_pivot`을 long 형태로 바꾸세요.  
• 결과 컬럼은 `club_member_status`, `fashion_news_frequency`, `active_rate`가 되도록!

In [173]:
# TODO: 여기에서 풀이 코드를 작성하세요.
# active_pivot.melt

# 아 기억났다 index reset을 안하면 안된다 아아
active_long = active_pivot.reset_index().melt(      #reset_index로 위로 올려줌
    id_vars=["club_member_status"],
    var_name="fashion_news_frequency",
    value_name="active_rate"
)

#얘는 long으로

---

### 문제 10 — pivot: 9번 long 데이터를 다시 wide로 복원
• 9번 `active_long`을 `pivot`으로 다시 wide로 돌려보세요.  
• (응용-검색해보세요(`equals`??))그리고 원래의 `active_pivot`과 같은지 확인해봅시다. (힌트: `equals`)

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.
comebackhomme = active_long.pivot(index="club_member_status", columns="fashion_news_frequency", values="active_rate")

#너도 설마 리셋이 필요하니? 아니네
#이퀄.....? 럼블궁....?

comebackhomme.equals(active_pivot)

#엣? False 에엣 엣 애 어 에 어 음 엥> 에.. 
#아 active_pivot랑 하니까 되고 active_long하니까 False네 생각해보니까 wide랑 long이랑 다른데; ㅋㅋㅋ 당연한거엿네 헤헤

True

---

### 문제 11 — 문자열 정리: `fashion_news_frequency` 클린 버전 만들기
• `fashion_news_frequency`를 아래 규칙으로 정리해 `fn_clean` 컬럼을 만드세요.  
  - 결측치 -> `'unknown'`  
  - 양끝 공백 제거  
  - 소문자화  
• 정리 전/후 `value_counts()` 비교까지! -> `dropna=False` 옵션을 주자(그래야 결측 보임)

In [192]:
# TODO: 여기에서 풀이 코드를 작성하세요.
df['fashion_news_frequency'].value_counts(dropna=False)
df['fashion_news_frequency'].fillna('unknown').str.strip().str.lower()

df['fashion_news_frequency'].value_counts(dropna=False) #오오.... NaN 1 뜨네 오호

fashion_news_frequency
NONE         674698
Regularly    373218
Monthly         658
NaN               1
Name: count, dtype: int64

In [ ]:
#튜터님 풀이
df["fashion_news_frequency"].value_counts(dropna=False)

df["fn_clean"] = (
    df["fashion_news_frequency"]
      .fillna("unknown")
      .astype(str)
      .str.strip()
      .str.lower()
)

df["fn_clean"].value_counts(dropna=False)

fn_clean
none         674698
regularly    373218
monthly         658
unknown           1
Name: count, dtype: int64

---

### 문제 12 — 문자열: `customer_id` prefix(접두사)/suffix(접미사) 추출
• `customer_id`에서  
  - 앞 2글자: `id_prefix2`  
  - 뒤 3글자: `id_suffix3`  
  컬럼을 만들고, `id_prefix2` 상위 10개 빈도를 출력하세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.
df['customer_id']

# dp 숙제?

---

### 문제 13 — map: `club_member_status` 한글 라벨 붙이기
• 아래 매핑을 사용해 `status_ko` 컬럼을 만드세요.  
  - `ACTIVE` -> `활동중`  
  - `PRE-CREATE` -> `사전생성`  
  - `LEFT CLUB` -> `탈퇴`  
• 그리고 `status_ko`별 고객 수를 출력하세요.

In [200]:
# TODO: 여기에서 풀이 코드를 작성하세요.
mapo = {'ACTIVE': '활동중', 'CREATE':'사전생성', 'LEFT': '탈퇴'}    #아 여기서 df.map하는게 아니라 밖에서 하고 따로 map을 하라고~

df['status_ko'] = df['club_member_status'].map(mapo).fillna("언노운")

df['status_ko'].value_counts()

status_ko
활동중    982635
언노운     65940
Name: count, dtype: int64

---

### 문제 14 — apply/lambda: 나이대(`age_band`) 구간화 + 활동률 보기
• 나이를 아래 구간으로 나눠 `age_band`를 만드세요. (apply 또는 함수 + apply)  
  - 16~19: `10대`  
  - 20~29: `20대`  
  - 30~39: `30대`  
  - 40~59: `40~50대`  
  - 60+: `60대+`  
• `age_band`별 고객 수와 활동률(`Active` 평균)을 함께 구하세요.  
• 행(인덱스)의 순서를 보장하기 위한 `sort_index`를 해주는건 좋은 방법!

In [204]:
# TODO: 여기에서 풀이 코드를 작성하세요.
def age_band(age):
    if age < 20:
        return "10대"
    elif age < 30:
        return "20대"
    elif age < 40:
        return "30대"
    elif age < 60:
        return "40~50대"
    else:
        return "60대+"
    
df['age_band'] = df['age'].apply(age_band)
df['age_band']

0          40~50대
1             20대
2             20대
3          40~50대
4          40~50대
            ...
1048570       20대
1048571    40~50대
1048572       30대
1048573    40~50대
1048574    40~50대
Name: age_band, Length: 1048575, dtype: object

In [207]:
### 그걸로 계산
age_band_summary = (
    df.groupby("age_band").agg(
         count = ("customer_id", "size"), 
         active_rate = ("Active", "mean")).sort_index() 
)
age_band_summary

           count  active_rate
age_band
10대        55256     0.359581
20대       409196     0.333906
30대       181112     0.313298
40~50대    332160     0.361910
60대+       70851     0.416226

---

### 문제 15 — set_index / loc: 고객 ID로 빠르게 조회하기
• `customer_id`를 인덱스로 설정한 `df_idx`를 만드세요.  
• 그리고 아래처럼 **임의 5명**을 뽑아(`sample`) 해당 고객의 `age`, `status_ko`, `fn_clean`을 조회해보세요.  
  - 힌트: `ids = df['customer_id'].sample(5, random_state=42).tolist()`  
• 마지막에 `reset_index()`로 원복까지!

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.
# tbr,. 숙제...

---

### 문제 16 — reset_index(정리): 표 결과를 컬럼형으로 만들기
• 7번에서 만든 `status_fn_table`은 인덱스가 `club_member_status`입니다.  
• 이를 `reset_index()`로 풀어서 `club_member_status`가 컬럼으로 보이게 만들어보세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.
# 숙재....

---

### 문제 17 — merge: 뉴스 빈도 점수표 붙이기
• 아래 조건의 매핑 테이블을 DataFrame으로 만들고, `fn_clean` 기준으로 `left merge` 하세요.  
  - `none: 0, monthly: 1, regularly: 2, unknown: -1`  
• 병합 후 `fn_score`별 평균 나이를 확인해봅시다.

In [210]:
df.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,age_mean_by_status,age_diff,group_size,fn_clean,status_ko,age_band
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49,36.072281,12.927719,613304.0,none,활동중,40~50대
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25,36.072281,-11.072281,613304.0,none,활동중,20대
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24,36.072281,-12.072281,613304.0,none,활동중,20대
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54,36.072281,17.927719,613304.0,none,활동중,40~50대
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52,36.072281,15.927719,368719.0,regularly,활동중,40~50대

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.
# 
fn_score_df = pd.DataFrame({
    "fn_clean": ["none", "monthly", "regularly", "unknown"],
    "fn_score": [0, 1, 2, -1]   #매칭시켜서~ 아하아하 값이랑 인덱스랑 만든다~
})

df_merge = df.merge(fn_score_df, on="fn_clean", how="left")  #이제 merge는 쉬운데말이여

df_merge.groupby("fn_score")["age"].mean()  #fn_score 별 나이 평균 구하고 인덱스 별로 정렬

fn_score
-1    38.000000
 0    36.000507
 1    39.389058
 2    37.030374
Name: age, dtype: float64

---

### 문제 18 — concat + 최종 reshape: `age_band × status_ko` 활동률 표 만들기
• 1. `Active==1`과 `Active==0`으로 나눴다가 다시 `concat`으로 합쳐보세요.  
  - 원본 행 수가 같은지 체크!  

• 2. 그 다음, `pivot_table`로 `age_band(행) × status_ko(열)`의 **활동률(Active 평균)** 표를 만들고  
  `melt`로 long 형태까지 만들어보세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.
# 숙데