# [정답/해설] 서울시 부동산 2024 — 기본 전처리 & 인덱싱/슬라이싱

In [65]:
import pandas as pd
path = "2024.csv"
df = pd.read_csv(path, encoding="cp949")
print("로드 완료! shape:", df.shape)

로드 완료! shape: (77523, 21)

C:\Users\tlsdy\AppData\Local\Temp\ipykernel_13872\1120637775.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, encoding="cp949")

### 1. `head()` — 데이터 미리보기

In [66]:
df.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2024,11380,은평구,10200,녹번동,1.0,대지,86.0,125.0,성원빌라(86-125),...,16400,53.07,25.0000,4.0,NaN,NaN,1991.0,연립다세대,중개거래,서울 은평구
1,2024,11500,강서구,10300,화곡동,1.0,대지,924.0,4.0,팔팔빌라,...,35000,39.24,27.0000,2.0,NaN,NaN,1986.0,연립다세대,직거래,NaN
2,2024,11560,영등포구,11100,당산동1가,1.0,대지,143.0,0.0,다솔시티하임,...,30000,29.54,14.0000,5.0,NaN,NaN,2017.0,연립다세대,직거래,NaN
3,2024,11560,영등포구,12800,양평동4가,1.0,대지,220.0,0.0,해울빌,...,36000,40.41,63.6400,3.0,NaN,NaN,2021.0,오피스텔,중개거래,서울 용산구
4,2024,11410,서대문구,11200,대현동,1.0,대지,90.0,77.0,유씨유 이대,...,19300,17.31,30.8725,5.0,NaN,NaN,2018.0,오피스텔,중개거래,서울 서대문구

**해설:** 구조/열 이름을 빠르게 확인합니다.

### 2. `shape` — (행, 열) 크기

In [67]:
df.shape

(77523, 21)

**해설:** 행/열 수를 파악합니다.

### 3. `info()` — 타입 & 결측 개요

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77523 entries, 0 to 77522
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              77523 non-null  int64
 1   자치구코드             77523 non-null  int64
 2   자치구명              77522 non-null  object
 3   법정동코드             77523 non-null  int64
 4   법정동명              77523 non-null  object
 5   지번구분              74965 non-null  float64
 6   지번구분명             74965 non-null  object
 7   본번                74964 non-null  object
 8   부번                74964 non-null  object
 9   건물명               74964 non-null  object
 10  계약일               77523 non-null  int64
 11  물건금액(만원)          77523 non-null  int64
 12  건물면적(㎡)           77523 non-null  float64
 13  토지면적(㎡)           72446 non-null  float64
 14  층                 74965 non-null  float64
 15  권리구분              700 non-null    object
 16  취소일               3172 non-null   float64
 17  건축년도              77256 non-null  float64
 18  건물용도              77523 non-null  object
 19  신고구분              77521 non-null  object
 20  신고한 개업공인중개사 시군구명  68669 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 12.4+ MB

**해설:** 각 컬럼의 dtype/결측 개수를 한 번에 확인합니다.

### 4. `describe()` — 수치형 요약 통계

In [69]:
df.describe()

,접수연도,자치구코드,법정동코드,지번구분,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,취소일,건축년도
count,77523.0,77523.000000,77523.000000,74965.000000,7.752300e+04,7.752300e+04,77523.000000,72446.000000,74965.000000,3.172000e+03,77256.000000
mean,2024.0,11456.364305,10948.612670,1.004175,2.024034e+07,8.859866e+04,68.028388,18.651453,7.885306,2.024062e+07,1986.776639
std,0.0,186.070947,1228.356906,0.089739,1.446469e+03,8.719598e+04,53.115191,122.376641,6.324990,2.411819e+02,190.379839
min,2024.0,11110.000000,10100.000000,1.000000,2.021021e+07,2.600000e+03,8.480000,0.000000,-2.000000,2.024010e+07,0.000000
25%,2024.0,11305.000000,10200.000000,1.000000,2.024033e+07,3.200000e+04,41.850000,0.000000,3.000000,2.024042e+07,1996.000000
50%,2024.0,11470.000000,10600.000000,1.000000,2.024060e+07,6.600000e+04,59.920000,0.000000,6.000000,2.024062e+07,2004.000000
75%,2024.0,11620.000000,11000.000000,1.000000,2.024072e+07,1.150000e+05,84.870000,27.000000,11.000000,2.024082e+07,2016.000000
max,2024.0,26230.000000,18700.000000,3.000000,2.024101e+07,2.850000e+06,2932.270000,30822.000000,68.000000,2.024101e+07,2024.000000

**해설:** 범위/분포/이상치 감을 잡습니다.

### 5. 열 선택 — 리스트로 여러 열

In [70]:
df[['자치구명','법정동명','계약일','물건금액(만원)','건물면적(㎡)']].head()

   자치구명   법정동명       계약일  물건금액(만원)  건물면적(㎡)
0   은평구    녹번동  20241014     16400    53.07
1   강서구    화곡동  20241014     35000    39.24
2  영등포구  당산동1가  20241014     30000    29.54
3  영등포구  양평동4가  20241014     36000    40.41
4  서대문구    대현동  20241014     19300    17.31

**해설:** `[['col1','col2']]`는 **DataFrame**을 반환합니다.

### 6. `to_datetime`으로 날짜형 변환 + `info()` 재확인

In [71]:
df['계약일'] = pd.to_datetime(df['계약일'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77523 entries, 0 to 77522
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              77523 non-null  int64
 1   자치구코드             77523 non-null  int64
 2   자치구명              77522 non-null  object
 3   법정동코드             77523 non-null  int64
 4   법정동명              77523 non-null  object
 5   지번구분              74965 non-null  float64
 6   지번구분명             74965 non-null  object
 7   본번                74964 non-null  object
 8   부번                74964 non-null  object
 9   건물명               74964 non-null  object
 10  계약일               77523 non-null  datetime64[ns]
 11  물건금액(만원)          77523 non-null  int64
 12  건물면적(㎡)           77523 non-null  float64
 13  토지면적(㎡)           72446 non-null  float64
 14  층                 74965 non-null  float64
 15  권리구분              700 non-null    object
 16  취소일               3172 non-null   float64
 17  건축년도              77256 non-null  float64
 18  건물용도              77523 non-null  object
 19  신고구분              77521 non-null  object
 20  신고한 개업공인중개사 시군구명  68669 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(4), object(10)
memory usage: 12.4+ MB

**해설:** 날짜형으로 변환하면 시계열 연산이 가능해집니다.

### 7. `.loc` — 라벨 기반 슬라이싱(끝 포함)

In [72]:
df.loc[0:9, ['자치구명','법정동명','계약일','물건금액(만원)','건물면적(㎡)']]

   자치구명   법정동명                           계약일  물건금액(만원)  건물면적(㎡)
0   은평구    녹번동 1970-01-01 00:00:00.020241014     16400    53.07
1   강서구    화곡동 1970-01-01 00:00:00.020241014     35000    39.24
2  영등포구  당산동1가 1970-01-01 00:00:00.020241014     30000    29.54
3  영등포구  양평동4가 1970-01-01 00:00:00.020241014     36000    40.41
4  서대문구    대현동 1970-01-01 00:00:00.020241014     19300    17.31
5   동작구   신대방동 1970-01-01 00:00:00.020241014    744000  1502.31
6   성동구  하왕십리동 1970-01-01 00:00:00.020241014     28850    27.51
7   금천구    시흥동 1970-01-01 00:00:00.020241014      9300    14.22
8  동대문구    장안동 1970-01-01 00:00:00.020241014     76000   107.97
9   강서구   내발산동 1970-01-01 00:00:00.020241014     15900    37.98

**해설:** `.loc[a:b]`는 **b를 포함**합니다.

### 8. `.iloc` — 정수 위치 기반 슬라이싱(끝 제외)

In [73]:
df.iloc[0:10, [0,1,6,7,8]]

   접수연도  자치구코드 지번구분명     본번     부번
0  2024  11380    대지   86.0  125.0
1  2024  11500    대지  924.0    4.0
2  2024  11560    대지  143.0    0.0
3  2024  11560    대지  220.0    0.0
4  2024  11410    대지   90.0   77.0
5  2024  11590   NaN    NaN    NaN
6  2024  11200    대지  890.0  181.0
7  2024  11545    대지  882.0   61.0
8  2024  11230    대지  580.0    0.0
9  2024  11500    대지  688.0    8.0

**해설:** `.iloc[a:b]`는 **b를 제외**합니다.

### 9. 불리언 필터 — 강남구 & 85㎡ 이상

In [74]:
mask = (df['자치구명'] == '강남구') & (df['건물면적(㎡)'] >= 85)
df.loc[mask, ['자치구명','법정동명','건물면적(㎡)','물건금액(만원)']].head()

    자치구명  법정동명  건물면적(㎡)  물건금액(만원)
300  강남구   일원동  381.840    330000
303  강남구   수서동  129.450    218000
315  강남구   개포동  132.817    450000
676  강남구  압구정동  161.180    635000
716  강남구   자곡동  101.950    199000

**해설:** 조건이 True인 행만 남깁니다.

### 10. 불리언 필터 — 건축년도 2000년 이후

In [75]:
df.loc[df['건축년도'] >= 2000, ['자치구명','건축년도','건물용도']].head()

   자치구명    건축년도   건물용도
2  영등포구  2017.0  연립다세대
3  영등포구  2021.0   오피스텔
4  서대문구  2018.0   오피스텔
6   성동구  2017.0   오피스텔
7   금천구  2012.0    아파트

**해설:** 최신 건축물만 추립니다.

### 11. `value_counts()` — 범주 분포 (상위 5)

In [76]:
df['건물용도'].value_counts().head()

건물용도
아파트      46027
연립다세대    21184
오피스텔      7754
단독다가구     2558
Name: count, dtype: int64

**해설:** 주요 용도의 빈도를 파악합니다.

### 12. `isnull().sum()` — 결측 개수

In [77]:
df.isnull().sum()

접수연도                    0
자치구코드                   0
자치구명                    1
법정동코드                   0
법정동명                    0
지번구분                 2558
지번구분명                2558
본번                   2559
부번                   2559
건물명                  2559
계약일                     0
물건금액(만원)                0
건물면적(㎡)                 0
토지면적(㎡)              5077
층                    2558
권리구분                76823
취소일                 74351
건축년도                  267
건물용도                    0
신고구분                    2
신고한 개업공인중개사 시군구명     8854
dtype: int64

**해설:** 결측치 처리 전략 수립에 필요합니다.

### 13. `to_csv` — 필터 결과 저장

In [78]:
mask = (df['자치구명'] == '강남구') & (df['건물면적(㎡)'] >= 85)
out = df.loc[mask, ['자치구명','법정동명','건물면적(㎡)','물건금액(만원)']]
out.to_csv('seoul2024_gangnam_85.csv', index=False)
print('saved: seoul2024_gangnam_85.csv')

saved: seoul2024_gangnam_85.csv

**해설:** 전처리 산출물을 파일로 기록합니다.