# 서울시 부동산 2024 (2024.csv) — 정답 및 해설

In [15]:
import pandas as pd
try:
    df = pd.read_csv("2024.csv", encoding="cp949")
except UnicodeDecodeError:
    df = pd.read_csv("2024.csv", encoding="euc-kr")
print("컬럼:", df.columns.tolist())
df.head()

컬럼: ['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번', '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '권리구분', '취소일', '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명']

C:\Users\tlsdy\AppData\Local\Temp\ipykernel_10692\1363079895.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("2024.csv", encoding="cp949")

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2024,11380,은평구,10200,녹번동,1.0,대지,86.0,125.0,성원빌라(86-125),...,16400,53.07,25.0000,4.0,NaN,NaN,1991.0,연립다세대,중개거래,서울 은평구
1,2024,11500,강서구,10300,화곡동,1.0,대지,924.0,4.0,팔팔빌라,...,35000,39.24,27.0000,2.0,NaN,NaN,1986.0,연립다세대,직거래,NaN
2,2024,11560,영등포구,11100,당산동1가,1.0,대지,143.0,0.0,다솔시티하임,...,30000,29.54,14.0000,5.0,NaN,NaN,2017.0,연립다세대,직거래,NaN
3,2024,11560,영등포구,12800,양평동4가,1.0,대지,220.0,0.0,해울빌,...,36000,40.41,63.6400,3.0,NaN,NaN,2021.0,오피스텔,중개거래,서울 용산구
4,2024,11410,서대문구,11200,대현동,1.0,대지,90.0,77.0,유씨유 이대,...,19300,17.31,30.8725,5.0,NaN,NaN,2018.0,오피스텔,중개거래,서울 서대문구

### 문제 1 정답 — 조건 필터링(AND)
- 해설: 두 조건을 괄호로 묶고 `&`로 결합합니다.

In [2]:
sel1 = df[(df['자치구명'] == '강남구') & (df['건물용도'] == '오피스텔')]
print(sel1.head()); print("행 개수:", len(sel1))

     접수연도  자치구코드 자치구명  법정동코드 법정동명  지번구분 지번구분명     본번    부번  \
39   2024  11680  강남구  10500  삼성동   1.0    대지  141.0  10.0
80   2024  11680  강남구  10100  역삼동   1.0    대지  823.0  33.0
289  2024  11680  강남구  11200  자곡동   1.0    대지  655.0   0.0
324  2024  11680  강남구  10100  역삼동   1.0    대지  719.0  24.0
326  2024  11680  강남구  10100  역삼동   1.0    대지  822.0   7.0

                            건물명  ...  물건금액(만원)  건물면적(㎡)  토지면적(㎡)     층  권리구분  \
39                 삼성동 롯데캐슬 클라쎄  ...     51000   29.373  43.2521   5.0   NaN
80                   강남루덴스 오피스텔  ...     39000   27.640  43.9800   5.0   NaN
289  강남 푸르지오시티 2차(PRUGIO CITYⅡ)  ...     15000   21.872  28.9680   4.0   NaN
324                역삼역센트럴푸르지오시티  ...     57000   39.304  62.7200   7.0   NaN
326                       목화밀라트  ...     31500   31.330  48.1300  16.0   NaN

    취소일    건축년도  건물용도  신고구분 신고한 개업공인중개사 시군구명
39  NaN  2019.0  오피스텔  중개거래           서울 강남구
80  NaN  2021.0  오피스텔   직거래              NaN
289 NaN  2014.0  오피스텔  중개거래           서울 강남구
324 NaN  2019.0  오피스텔  중개거래           서울 강남구
326 NaN  2004.0  오피스텔  중개거래           서울 강남구

[5 rows x 21 columns]
행 개수: 610

### 문제 2 정답 — 조건 필터링(OR)
- 해설: 숫자 조건을 `|`로 결합합니다.

In [3]:
sel2 = df[(df['층'] >= 10) | (df['물건금액(만원)'] >= 100000)]
print(sel2.head()); print("행 개수:", len(sel2))

    접수연도  자치구코드  자치구명  법정동코드   법정동명  지번구분 지번구분명     본번     부번          건물명  \
5   2024  11590   동작구  10900   신대방동   NaN   NaN    NaN    NaN          NaN
6   2024  11200   성동구  10200  하왕십리동   1.0    대지  890.0  181.0       동인드림힐스
7   2024  11545   금천구  10300    시흥동   1.0    대지  882.0   61.0      와이즈플레이스
8   2024  11230  동대문구  10600    장안동   1.0    대지  580.0    0.0       장안위더스빌
13  2024  11410  서대문구  12000   남가좌동   1.0    대지  385.0    0.0  DMC파크뷰자이1단지

    ...  물건금액(만원)   건물면적(㎡)  토지면적(㎡)     층  권리구분 취소일    건축년도   건물용도  신고구분  \
5   ...    744000  1502.310  534.000   NaN   NaN NaN  1987.0  단독다가구   직거래
6   ...     28850    27.510   44.522  11.0   NaN NaN  2017.0   오피스텔  중개거래
7   ...      9300    14.220    0.000  17.0   NaN NaN  2012.0    아파트  중개거래
8   ...     76000   107.970    0.000  16.0   NaN NaN  2011.0    아파트   직거래
13  ...    172000   120.492    0.000  25.0   NaN NaN  2015.0    아파트  중개거래

   신고한 개업공인중개사 시군구명
5               NaN
6            서울 성동구
7            서울 금천구
8               NaN
13          서울 서대문구

[5 rows x 21 columns]
행 개수: 37467

### 문제 3 정답 — 결측치 조건
- 해설: `isnull()` 결과가 True인 행만 선택합니다.

In [4]:
no_cancel = df[df['취소일'].isnull()]
print(no_cancel.head()); print("행 개수:", len(no_cancel))

   접수연도  자치구코드  자치구명  법정동코드   법정동명  지번구분 지번구분명     본번     부번           건물명  \
0  2024  11380   은평구  10200    녹번동   1.0    대지   86.0  125.0  성원빌라(86-125)
1  2024  11500   강서구  10300    화곡동   1.0    대지  924.0    4.0          팔팔빌라
2  2024  11560  영등포구  11100  당산동1가   1.0    대지  143.0    0.0        다솔시티하임
3  2024  11560  영등포구  12800  양평동4가   1.0    대지  220.0    0.0           해울빌
4  2024  11410  서대문구  11200    대현동   1.0    대지   90.0   77.0        유씨유 이대

   ...  물건금액(만원)  건물면적(㎡)  토지면적(㎡)    층  권리구분 취소일    건축년도   건물용도  신고구분  \
0  ...     16400    53.07  25.0000  4.0   NaN NaN  1991.0  연립다세대  중개거래
1  ...     35000    39.24  27.0000  2.0   NaN NaN  1986.0  연립다세대   직거래
2  ...     30000    29.54  14.0000  5.0   NaN NaN  2017.0  연립다세대   직거래
3  ...     36000    40.41  63.6400  3.0   NaN NaN  2021.0   오피스텔  중개거래
4  ...     19300    17.31  30.8725  5.0   NaN NaN  2018.0   오피스텔  중개거래

  신고한 개업공인중개사 시군구명
0           서울 은평구
1              NaN
2              NaN
3           서울 용산구
4          서울 서대문구

[5 rows x 21 columns]
행 개수: 74351

### 문제 4 정답 — 특정 값 필터링
- 해설: 문자형 값 비교로 필터링합니다.

In [5]:
direct = df[df['신고구분'] == '직거래']
print(direct.head()); print("행 개수:", len(direct))

    접수연도  자치구코드  자치구명  법정동코드   법정동명  지번구분 지번구분명     본번   부번     건물명  ...  \
1   2024  11500   강서구  10300    화곡동   1.0    대지  924.0  4.0    팔팔빌라  ...
2   2024  11560  영등포구  11100  당산동1가   1.0    대지  143.0  0.0  다솔시티하임  ...
5   2024  11590   동작구  10900   신대방동   NaN   NaN    NaN  NaN     NaN  ...
8   2024  11230  동대문구  10600    장안동   1.0    대지  580.0  0.0  장안위더스빌  ...
41  2024  11530   구로구  11000    온수동   1.0    대지   23.0  0.0    아델리안  ...

    물건금액(만원)  건물면적(㎡)  토지면적(㎡)     층  권리구분 취소일    건축년도   건물용도 신고구분  \
1      35000    39.24     27.0   2.0   NaN NaN  1986.0  연립다세대  직거래
2      30000    29.54     14.0   5.0   NaN NaN  2017.0  연립다세대  직거래
5     744000  1502.31    534.0   NaN   NaN NaN  1987.0  단독다가구  직거래
8      76000   107.97      0.0  16.0   NaN NaN  2011.0    아파트  직거래
41     24600    35.40     21.0   2.0   NaN NaN  2019.0  연립다세대  직거래

   신고한 개업공인중개사 시군구명
1               NaN
2               NaN
5               NaN
8               NaN
41              NaN

[5 rows x 21 columns]
행 개수: 8842

### 문제 5 정답 — 정렬
- 해설: `sort_values`로 금액을 **내림차순** 정렬합니다.

In [6]:
price_desc = df.sort_values(by='물건금액(만원)', ascending=False)
print(price_desc[['자치구명','법정동명','물건금액(만원)']].head(10))

       자치구명   법정동명  물건금액(만원)
57768   강남구    신사동   2850000
20409   용산구    한남동   2200000
39252   용산구    한남동   2000000
54876   강남구    신사동   1800000
54856   강남구    신사동   1800000
15048   서초구    반포동   1800000
7371    용산구  한강로2가   1629600
60529  서대문구    창천동   1592500
47111   강남구    논현동   1500000
27681   성동구  성수동1가   1450000

### 문제 6 정답 — 다중 정렬
- 해설: `by`와 `ascending`에 각각 리스트를 전달해 다중 정렬합니다.

In [7]:
multi_sorted = df.sort_values(by=['건축년도','건물면적(㎡)'], ascending=[True, False])
print(multi_sorted[['건축년도','건물면적(㎡)','자치구명','법정동명']].head(10))

       건축년도  건물면적(㎡) 자치구명 법정동명
50354   0.0  171.997  강남구  개포동
55077   0.0  156.980  강동구  둔촌동
67647   0.0  156.960  강남구  개포동
67702   0.0  156.960  강남구  개포동
27209   0.0  156.939  강남구  개포동
14821   0.0  150.918  서초구  방배동
25324   0.0  150.918  서초구  방배동
924     0.0  138.520  광진구  자양동
938     0.0  138.520  광진구  자양동
1876    0.0  138.520  광진구  자양동

### 문제 7 정답 — 열 제거
- 해설: `drop(columns=...)`로 새 DataFrame을 만듭니다.

In [8]:
df_no_right = df.drop(columns=['권리구분'])
print("열 제거 후 컬럼:", df_no_right.columns.tolist())

열 제거 후 컬럼: ['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번', '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '취소일', '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명']

### 문제 8 정답 — 열 이름 변경
- 해설: `rename(columns=...)`로 요구된 이름으로 변경합니다.

In [9]:
df_ren = df.rename(columns={'물건금액(만원)':'거래금액_만원', '건물면적(㎡)':'건물면적_m2', '토지면적(㎡)':'토지면적_m2'})
print("변경 후 컬럼:", df_ren.columns.tolist())

변경 후 컬럼: ['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번', '건물명', '계약일', '거래금액_만원', '건물면적_m2', '토지면적_m2', '층', '권리구분', '취소일', '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명']

### 문제 9 정답 — 결측치 개수
- 해설: `isnull().sum()`으로 각 열의 결측치 개수를 확인합니다.

In [10]:
print(df.isnull().sum())

접수연도                    0
자치구코드                   0
자치구명                    1
법정동코드                   0
법정동명                    0
지번구분                 2558
지번구분명                2558
본번                   2559
부번                   2559
건물명                  2559
계약일                     0
물건금액(만원)                0
건물면적(㎡)                 0
토지면적(㎡)              5077
층                    2558
권리구분                76823
취소일                 74351
건축년도                  267
건물용도                    0
신고구분                    2
신고한 개업공인중개사 시군구명     8854
dtype: int64

### 문제 10 정답 — 결측치 채우기(수치형)
- 해설: 중앙값으로 결측치를 채웁니다.

In [11]:
median_year = df['건축년도'].median()
df_year_filled = df.copy()
df_year_filled['건축년도'] = df_year_filled['건축년도'].fillna(median_year)
print("채운 후 건축년도 결측치:", df_year_filled['건축년도'].isnull().sum())

채운 후 건축년도 결측치: 0

### 문제 10-2 — 결측치 채우기(수치형)
- 해설: 자치구명별로 건축년도 중앙값으로 결측치를 채웁니다. 다만, 자치구 어떤 곳은 건축년도가 전부 결측이면 그 구의 중앙값도 NaN이라서 채우기가 안 될 수 있기에 그럴 땐 전체 중앙값으로 한 번 더 채우면 깔끔합니다!

In [17]:
df_year_filled = df.copy()

gu_median = df_year_filled.groupby("자치구명")["건축년도"].transform("median")
global_median = df_year_filled["건축년도"].median()

df_year_filled["건축년도"] = (
    df_year_filled["건축년도"]
    .fillna(gu_median)
    .fillna(global_median)
)

print("채운 후 건축년도 결측치:", df_year_filled["건축년도"].isna().sum())

채운 후 건축년도 결측치: 0

### 문제 11 정답 — 결측치 채우기(문자열)
- 해설: 문자형 컬럼은 적절한 텍스트로 채울 수 있습니다.

In [12]:
df_name_filled = df.copy()
df_name_filled['건물명'] = df_name_filled['건물명'].fillna('미기재')
print("채운 후 건물명 결측치:", df_name_filled['건물명'].isnull().sum())

채운 후 건물명 결측치: 0

### 문제 12 정답 — 중복 확인 및 제거(subset)
- 해설: `subset`을 주어 중복 판정 기준을 지정하고 제거 전/후를 비교합니다.

In [13]:
subset_cols = ['자치구명','법정동명','계약일','건물면적(㎡)','물건금액(만원)']
dup_cnt = df.duplicated(subset=subset_cols).sum()
df_unique = df.drop_duplicates(subset=subset_cols, keep='first')
print("중복 개수:", dup_cnt)
print("제거 전/후:", len(df), "->", len(df_unique))

중복 개수: 4178
제거 전/후: 77523 -> 73345