In [ ]:
# 어 복붙 단축키 빼라 감옥간다
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

art = pd.read_csv("articles_hm.csv")
cust = pd.read_csv("customer_hm.csv")
tran = pd.read_csv("transactions_hm.csv")

In [ ]:
art.head()
art.shape
art.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [ ]:
tran.head()
tran.shape
tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  object
 1   customer_id       1048575 non-null  object
 2   article_id        1048575 non-null  int64
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 40.0+ MB

In [ ]:
cust.head()
tran.shape
tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  object
 1   customer_id       1048575 non-null  object
 2   article_id        1048575 non-null  int64
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 40.0+ MB

In [ ]:
tran.describe()

         article_id         price  sales_channel_id
count  1.048575e+06  1.048575e+06      1.048575e+06
mean   6.746672e+08  2.777915e-02      1.695412e+00
std    1.173503e+08  1.935764e-02      4.602328e-01
min    1.087750e+08  2.372880e-04      1.000000e+00
25%    6.289790e+08  1.523729e-02      1.000000e+00
50%    7.059880e+08  2.540678e-02      2.000000e+00
75%    7.500700e+08  3.388136e-02      2.000000e+00
max    8.797400e+08  5.067797e-01      2.000000e+00

In [ ]:
tran.isnull().sum()
art.isnull().sum()  #detail_desc 416
cust.isnull().sum() #fashion_news_frequency 1

customer_id               0
FN                        0
Active                    0
club_member_status        0
fashion_news_frequency    1
age                       0
dtype: int64

##### 전처리 체크리스트
1. **로딩이 정상인가?** (구분자, 인코딩, 헤더, 결측 표현)
2. **스키마가 맞나?** (컬럼명, dtype, 값 단위/범위)
3. **결측치 패턴은?** (어디에, 얼마나, 어떤 조건에서 비는지)
4. **이상치/오류는?** (나이 -1, 요금 999999, 문자열 섞임)
5. **중복은?** (완전 중복 vs 키 중복)
6. **날짜는 날짜인가?** (문자열이면 datetime 변환 + 시간대/형식)
7. **범주는 표준화됐나?** (”M”, “male”, “Male” 통일)
8. **인덱스는 의미가 있나?** (0..n-1 유지 vs 키로 설정)
9. **재현 가능하게 저장/기록했나?** (전처리 코드, 파라미터)
10. (ML이면) **데이터 누수** 없나? (정답 정보가 피처에 섞였는지)

In [ ]:
# art.dropna(axis='detail_desc')    #이거맞나

##### ~~말하기 전에~~ drop하기 전에 생각했나요~?

In [ ]:
# art['detail_desc'].dropna()

# art['detail_desc'] = art['detail_desc'].dropna()
# art['detail_desc'] = art['detail_desc'].fillna('설명 없음')
#fillna인가? NO ex어쩌구 적었던 기억이
#fillna vs dropna 적어둘 것

In [ ]:
cust.dtypes

customer_id               object
FN                         int64
Active                     int64
club_member_status        object
fashion_news_frequency    object
age                        int64
dtype: object

In [ ]:
# astype (강제변환)