# 2교시: 변수(Variables) 

이번 시간에는 **변수**를 배웁니다.

변수는 “값을 저장하는 상자”라고도 하고, “이름표”라고도 설명합니다.  
둘 다 맞는 말인데, **이름표** 비유가 가장 이해하기 쉽습니다.

- **값(Value)**: 10, 3.14, "안녕하세요" 같은 실제 데이터  
- **변수(Variable)**: 그 값을 저장해두고 다시 쓰기 위한 **이름**


---

## 오늘 학습목표
1) 의미 있는 변수명을 `snake_case`로 짓고, **예약어/숫자 시작**을 피할 수 있습니다.  
2) 파이썬의 **동적 타이핑**을 예시로 이해하고, `type()`으로 타입을 확인해 **형변환 시점**을 결정할 수 있습니다.  
3) 기본 산술 연산(+,-,*,/)을 수행하고, **다중 할당/동일 값 할당**을 활용할 수 있습니다.  
4) 전역/지역 변수의 **접근 범위(스코프)** 를 간단한 예로 설명할 수 있습니다(읽기 vs 수정).

## 0) 변수 맛보기: “저장”이 왜 필요할까요?

변수가 없으면 매번 값을 직접 적어야 합니다.  
변수가 있으면 값을 저장해두고 **여러 번 사용**할 수 있습니다.

예를 들어, 간식비가 12,000원이고 교통비가 15,000원이라면:
- 합계는 27,000원
- 만약 간식비가 13,000원으로 바뀌면? 변수로 저장해두면 **한 군데만** 바꾸면 됩니다.

In [1]:
snack = 12000
transport = 15000

total = snack + transport
print("합계:", total)

# 값이 바뀌면?
snack = 13000
total = snack + transport
print("바뀐 합계:", total)

합계: 27000
바뀐 합계: 28000

### 핵심: `=`는 “같다”가 아니라 “저장(대입)”입니다

수학에서는 `=`가 “같다”이지만, 파이썬에서 `=`는 **저장**입니다.

- `x = 3` → x라는 이름표(변수)에 3을 저장한다.
- `x = x + 1` → x에 저장된 값에 1을 더한 결과를 다시 x에 저장한다.

In [2]:
x = 3
print("처음 x:", x)

x = x + 1
print("x = x + 1 후 x:", x)

처음 x: 3
x = x + 1 후 x: 4

⚠️ 아주 많이 헷갈리는 포인트

- `=` : 저장(대입)
- `==` : 같니? (비교)

이번 수업 목표에 포함되지는 않지만, 초보자에게는 꼭 짚고 넘어가는 것이 좋습니다.

In [3]:
x = 10
print("x == 10 ?", x == 10)
print("x == 5  ?", x == 5)

x == 10 ? True
x == 5  ? False

## 1) 변수 이름 짓기 (Naming) — 실수 방지 1순위

변수 이름을 잘못 지으면:
- 에러가 나거나
- 코드가 너무 읽기 어려워져서
- 나중에 본인도 무슨 뜻인지 잊어버립니다.

### 1-1) 기본 규칙(중요)
1) 영어/숫자/밑줄(_)만 사용  
2) **숫자로 시작하면 안 됨**  
3) 중간에 공백 불가  
4) 대소문자 구분: `Score`와 `score`는 다름

### 1-2) `snake_case` 추천

단어를 밑줄로 연결합니다.

- `student_name`
- `total_score`
- `price_per_item`

실무에서 가장 많이 쓰는 스타일 중 하나입니다.

### 1-3) 예약어(키워드)는 변수 이름으로 쓰면 안 됩니다

파이썬이 이미 문법으로 사용하는 단어들입니다.
예: `if`, `for`, `def`, `class`, `return`, `True`, `False`, `None` ...

아래는 “에러가 나는 예시”이므로 주석 처리했습니다.

In [4]:
# 아래는 주석을 풀면 SyntaxError가 납니다(예약어 사용).
# if = 3
# for = 10
# class = "적토마"

print("예약어 예시는 주석으로 막아두었습니다.")

예약어 예시는 주석으로 막아두었습니다.

### 1-4) 좋은 변수명 vs 나쁜 변수명

- 나쁜 예: `a`, `b`, `x1` (의미가 안 보임)
- 좋은 예: `width`, `height`, `area` (읽자마자 의미가 보임)

#### ✅ 예제(3개)

In [5]:
# 예제 1: 나쁜 변수명
a = 3
b = 5
c = a * b
print("결과:", c)

결과: 15

In [6]:
# 예제 2: 좋은 변수명
width = 3
height = 5
area = width * height
print("넓이:", area)

넓이: 15

In [7]:
# 예제 3: 의미가 있으면 디버깅(고치기)도 쉬워집니다
student_name = "적토마"
math_score = 90
english_score = 80
total_score = math_score + english_score
print(student_name, "총점:", total_score)

적토마 총점: 170

### 1-5) 자주 하는 실수

#### (1) 공백 넣기
`total score = 100` 은 안 됩니다(공백 때문).

#### (2) 숫자로 시작하기
`1st_score = 100` 은 안 됩니다(숫자로 시작).

#### (3) 비슷한 이름 만들기
`score`와 `scores`는 다릅니다. 오타가 나면 다른 변수로 인식해서 버그가 생깁니다.

In [8]:
# 공백/숫자 시작 예시는 에러가 나므로 주석 처리합니다.
# total score = 100
# 1st_score = 100

score = 100
scores = 200
print(score, scores)

100 200

## 2) 동적 타이핑(Dynamic Typing)과 `type()`

파이썬은 **동적 타이핑 언어**입니다.  
즉, 변수의 자료형이 “이름표에 붙어있는” 것이 아니라, **저장한 값에 따라** 달라집니다.

예:
- `x = 10`  → x는 int(정수)
- `x = "10"` → x는 str(문자열)
- `x = 3.14` → x는 float(실수)

이게 편리하지만, “문자열 숫자"와 "진짜 숫자”를 헷갈리기 쉬우므로 `type()` 확인이 중요합니다.

### 2-1) `type()` 함수 (최소 3개 예제)

In [9]:
print(type(10))
print(type(3.14))
print(type("적토마"))

<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
x = 10
print(x, type(x))

x = "10"
print(x, type(x))

x = 3.14
print(x, type(x))

10 <class 'int'>
10 <class 'str'>
3.14 <class 'float'>

In [11]:
# (헷갈림) "123"은 숫자처럼 보여도 문자열입니다.
a = "123"
b = 123
print(a, type(a))
print(b, type(b))

123 <class 'str'>
123 <class 'int'>

### 2-2) 형변환: `int()`, `float()`, `str()` (각각 예제 3개 이상)

형변환은 “타입을 바꾸는 것”입니다.

- `int("10")` → 10  
- `float("3.14")` → 3.14  
- `str(10)` → "10"

특히 `input()`은 항상 문자열이므로, 숫자 계산을 하려면 `int()`나 `float()`가 필요합니다.

#### ✅ `int()` 예제 (4개)

In [12]:
print(int("10") + 5)

15

In [13]:
print(int("0") * 100)

0

In [14]:
print(int("-7") - 3)

-10

In [15]:
print(int("   42   "))  # 앞뒤 공백은 보통 허용

42

#### ✅ `float()` 예제 (4개)

In [16]:
print(float("3.5") + 1.2)

4.7

In [17]:
print(float("0.1") * 10)

1.0

In [18]:
print(float("-2.75") / 2)

-1.375

In [19]:
print(float("1e3"))  # 1000.0 (과학표기)

1000.0

#### ✅ `str()` 예제 (4개)

In [20]:
n = 50
print("점수는 " + str(n) + "점입니다.")

점수는 50점입니다.

In [21]:
# f-string을 쓰면 str()를 직접 안 써도 되는 경우가 많습니다(참고).
n = 50
print(f"점수는 {n}점입니다.")

점수는 50점입니다.

In [22]:
# 문자열 반복 만들기
stars = "*" * 10
print(stars)

**********

In [23]:
# 숫자 리스트를 문자열로 바꿔 join하기(맛보기)
nums = [1, 2, 3]
text = ",".join(map(str, nums))
print(text)

1,2,3

### 2-3) 초보자가 많이 헷갈리는 상황(중요)

#### (1) `+`의 의미가 달라집니다
- 숫자 + 숫자 → 더하기
- 문자열 + 문자열 → 이어붙이기

그래서 아래 2개는 결과가 완전히 다릅니다.

In [24]:
print("10" + "20")          # 문자열 이어붙이기 -> "1020"
print(int("10") + int("20"))  # 숫자 더하기 -> 30

1020
30

#### (2) `/`는 결과가 float일 수 있습니다
정수끼리 나눠도 `10 / 2`는 `5.0`이 됩니다.

In [25]:
print(10 / 2, type(10 / 2))
print(7 / 2, type(7 / 2))

5.0 <class 'float'>
3.5 <class 'float'>

#### (3) `"1" * 5`는 에러가 아니라 “반복”입니다 (헷갈림)
문자열 * 숫자 → 문자열 반복이 됩니다.

In [26]:
print("1" * 5)   # "11111"
print("ha" * 3)  # "hahaha"

11111
hahaha

## 3) 산술 연산과 할당 패턴

### 3-1) 기본 산술 연산
- `+` 더하기
- `-` 빼기
- `*` 곱하기
- `/` 나누기

#### ✅ 예제 (6개)

In [27]:
a = 12
b = 5
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)

a + b = 17
a - b = 7
a * b = 60
a / b = 2.4

In [31]:
# 괄호 먼저 계산
print((2 + 3) * 4)

20

In [32]:
# 음수도 가능
temp = -3
print(temp * 10)

-30

In [33]:
# 실수 계산
x = 1.5
y = 2.0
print(x * y)

3.0

In [ ]:
# (헷갈림) 숫자 + 문자열은 에러입니다(타입이 다름)
# print(10 + "20")  # 주석 해제 시 TypeError

In [34]:
# 하지만 문자열 + 문자열은 이어붙이기입니다.
print("Py" + "thon")

Python

### 3-2) 다중 할당(Multiple Assignment)

한 줄에서 여러 변수에 값을 넣을 수 있습니다.

- `a, b = 1, 2`
- swap(서로 바꾸기): `a, b = b, a`

#### ✅ 예제 (6개)

In [36]:
a, b = 1, 2
print(a, b)

1 2

In [37]:
x, y, z = 10, 20, 30
print(x, y, z)

10 20 30

In [38]:
# swap(바꾸기)
a, b = 100, 200
a, b = b, a
print(a, b)

200 100

In [39]:
# 리스트 같은 것도 나눠 담을 수 있습니다(맛보기)
p, q = [7, 9]
print(p, q)

7 9

In [40]:
# input과 같이 쓰는 패턴(직접 입력: 예 3 7)
a, b = map(int, input("정수 2개(공백): ").split())
print("합:", a + b)

합: 23

In [41]:
# (헷갈림) 변수 개수와 값 개수가 다르면 에러
# a, b = 1, 2, 3  # ValueError
print("개수 불일치 예시는 주석으로 막아두었습니다.")

개수 불일치 예시는 주석으로 막아두었습니다.

### 3-3) 동일 값 할당(Same Value Assignment)

여러 변수에 같은 값을 한 번에 넣을 수 있습니다.

- `x = y = z = 0`

#### ✅ 예제 (4개)

In [42]:
x = y = z = 0
print(x, y, z)

0 0 0

In [43]:
math_score = english_score = science_score = 0
print(math_score, english_score, science_score)

0 0 0

In [44]:
a = b = 10
a = a + 5
print("a:", a, "b:", b)

a: 15 b: 10

In [45]:
a = b = "hi"
print(a, b)

hi hi

## 4) 전역/지역 변수(스코프) — “읽기”와 “수정”은 다릅니다

- **전역 변수(Global)**: 함수 밖에서 만든 변수
- **지역 변수(Local)**: 함수 안에서 만든 변수

핵심 결론:
- 함수 안에서 전역 변수를 **읽는 것**은 보통 가능합니다.
- 함수 안에서 전역 변수를 **수정(대입)** 하려면 문제가 생길 수 있습니다(규칙 때문).

### 4-1) 전역 변수 “읽기”는 가능 (예제 3개)

In [46]:
global_value = 10

def show_value():
    print("함수 안(읽기):", global_value)

show_value()
print("함수 밖:", global_value)

함수 안(읽기): 10
함수 밖: 10

In [47]:
global_message = "안녕하세요"

def greet():
    print("함수 안(읽기):", global_message)

greet()

함수 안(읽기): 안녕하세요

In [48]:
count = 3

def show_plus_one():
    print("읽기만 해서 계산:", count + 1)

show_plus_one()

읽기만 해서 계산: 4

### 4-2) 전역 변수를 함수 안에서 “수정”하려 하면? (헷갈림)

아래는 에러가 나는 코드이므로 주석 처리했습니다.

In [49]:
global_value = 10

def add_one_wrong():
    # 아래 주석을 풀면 UnboundLocalError가 날 수 있습니다.
    # global_value = global_value + 1
    pass

print("수정 오류 예시는 주석으로 막아두었습니다.")

수정 오류 예시는 주석으로 막아두었습니다.

### 4-3) 해결 방법 2가지

#### 방법 A) (추천) return으로 새 값을 돌려받기
#### 방법 B) `global` 키워드 사용하기

#### ✅ 방법 A(return) 예제 (3개)

In [50]:
count = 0

def inc(value):
    return value + 1

count = inc(count)
count = inc(count)
print(count)

2

In [51]:
money = 10000

def spend(current, cost):
    return current - cost

money = spend(money, 3000)
print("남은 돈:", money)

남은 돈: 7000

In [52]:
score = 80

def add_bonus(current, bonus):
    return current + bonus

score = add_bonus(score, 5)
print("점수:", score)

점수: 85

#### ✅ 방법 B(global) 예제 (3개)

In [54]:
count = 0

def inc_global():
    global count
    count = count + 1

inc_global()
inc_global()
print(count)

2

In [55]:
message = "Hi"

def change_message():
    global message
    message = "Hello"

change_message()
print(message)

Hello

In [56]:
total = 0

def add_to_total(x):
    global total
    total = total + x

add_to_total(5)
add_to_total(7)
print(total)

12

### 4-4) 지역 변수는 함수 밖에서 못 씁니다

In [57]:
def make_local():
    local_value = 123
    print("함수 안:", local_value)

make_local()

# print(local_value)  # 주석 해제 시 NameError

함수 안: 123

# 미니 프로젝트: “용돈 계산기” (변수 총정리)

아래 셀을 완성해 보세요.

In [1]:
# TODO: 값은 자유롭게 바꿔도 됩니다.
allowance = 50000
snack = 12000
transport = 15000
game = 8000

# TODO 1: 총 지출 계산
# total_spent =

# TODO 2: 남은 돈 계산
# remaining =

# TODO 3: 출력 + 조건 처리
# 0. 초기 값 설정 (입력에 해당)


# 1. 총 지출 계산 (계산 단계)
total_spent = snack + transport + game

# 2. 남은 돈 계산 (계산 단계)
remaining = allowance - total_spent

# 3. 결과 출력 + 조건 처리 (출력 + 판단 단계)
print(f"총 용돈: {allowance}원")
print(f"총 지출: {total_spent}원")
print(f"남은 돈: {remaining}원")

if remaining > 0:
    print("음, 아직 여유가 있어요.")
elif remaining == 0:
    print("오. 딱 맞게 다 썼어요.")
else:
    print("어... 용돈을 초과했어요!")

총 용돈: 50000원
총 지출: 35000원
남은 돈: 15000원
음, 아직 여유가 있어요.

---
## (정답 예시)

In [ ]:
# 예시: 문자열 vs 숫자
print("10" + "20")
print(int("10") + int("20"))

# 예시: swap
a, b = 3, 7
a, b = b, a
print(a, b)

# 예시: return 방식
counter = 0
def inc(value):
    return value + 1
counter = inc(counter)
counter = inc(counter)
print(counter)

## 오늘 정리 체크리스트

- [ ] 변수는 값을 저장하는 “이름표”입니다. `=`는 저장(대입)입니다.  
- [ ] 변수명은 의미 있게, `snake_case`로, 숫자 시작/예약어를 피합니다.  
- [ ] 파이썬은 동적 타이핑이며, `type()`으로 자료형을 확인할 수 있습니다.  
- [ ] `+ - * /` 연산을 하고, 다중 할당/동일 값 할당을 활용할 수 있습니다.  
- [ ] 전역/지역 변수는 범위가 다르며, 함수에서 “읽기”와 “수정”이 다르게 동작할 수 있습니다.