# 🧩 연습문제 01: 변수 이름 (1~10문제)

이 단원에서는 파이썬의 변수 명명 규칙인 `snake_case`를 익히고, 예약어 및 숫자로 시작하는 이름 등 잘못된 변수 생성 시 발생하는 에러를 확인합니다.

### 문제 1-1) 학생 이름 변수 생성

**문제 설명**  
학생 이름을 저장하는 변수명을 `snake_case`로 만들어 보세요.

**입력 예시**  
(없음)

**목표 출력**

(저장한 학생 이름 출력)

In [ ]:
# 연습문제 1-1
snake_case = '소나무'

### 문제 1-2) 가격 변수 생성

**문제 설명**  
한 개 가격을 저장하는 변수명을 `snake_case`로 만들어 보세요.

**입력 예시**  
(없음)

**목표 출력**

```text
(저장한 가격 출력)
```

In [ ]:
# 연습문제 1-2

### 문제 1-3) 읽기 쉬운 변수명으로 수정

**문제 설명**  
아래 코드의 변수명을 더 읽기 쉽게(의미 있는 이름으로) 바꿔 보세요.
`a = 3`, `b = 5`, `c = a * b`

**목표 출력**

```text
결과: 15
```

In [ ]:
# 연습문제 1-3. 아래 코드를 수정하여 완성하세요.
a = 3
b = 5
c = a*b
print(f"결과 : {c}")

### 문제 1-4) 대소문자 구분 확인

**문제 설명**
`Score`와 `score` 변수를 각각 만들고 서로 다른 값을 넣어 출력하여 두 변수가 다르게 인식되는지 확인해 보세요.

**입력 예시**
(없음)

**목표 출력**

```text
100 80

```

**힌트**

* 파이썬은 이름이 같더라도 대문자와 소문자를 완전히 다른 변수로 취급합니다.

In [ ]:
# 연습문제 1-4. 아래에 코드를 작성하세요.

### 문제 1-5) 데이터 타입 확인

**문제 설명**
문자열 `"15"`와 숫자 `15`를 각각 서로 다른 변수에 저장하고 `type()` 함수로 자료형을 확인해 보세요.

**입력 예시**
(없음)

**목표 출력**

```text
<class 'str'>
<class 'int'>

```

**힌트**

* 따옴표의 유무에 따라 데이터가 문자인지 숫자인지 결정됩니다.

In [ ]:
# 연습문제 1-5. 아래에 코드를 작성하세요.

### 문제 1-6) 공백 포함 변수명 에러 확인

**문제 설명**
변수 이름 중간에 공백이 들어간 변수명을 만들면 어떤 에러가 발생하는지 주석을 풀어서 직접 확인해 보세요.

**입력 예시**
(없음)

**목표 출력**

```text
SyntaxError: invalid syntax

```

**힌트**

* 변수 이름에는 띄어쓰기를 사용할 수 없으며, 대신 밑줄을 사용해야 합니다.

In [ ]:
# 연습문제 1-6. 아래에 코드를 작성하세요.

### 문제 1-7) 숫자로 시작하는 변수명 에러 확인

**문제 설명**
숫자로 시작하는 변수명을 만들면 어떤 에러가 발생하는지 주석을 풀어서 직접 확인해 보세요.

**입력 예시**
(없음)

**목표 출력**

```text
SyntaxError: invalid decimal literal

```

**힌트**

* 변수 이름에 숫자를 포함할 수는 있지만, 가장 첫 글자로 숫자가 올 수는 없습니다.

In [ ]:
# 연습문제 1-7. 아래에 코드를 작성하세요.


### 문제 1-8) 예약어 사용 불가 이유

**문제 설명**
예약어 `for`를 변수명으로 쓰면 안 되는 이유를 한 줄로 설명해 보세요.

**입력 예시**
(없음)

**목표 출력**
(설명 텍스트)

**힌트**

* 파이썬 언어 자체에서 특정한 기능을 수행하기 위해 이미 선점해둔 단어들이 있는지 확인해 보세요.

1-8 연습문제 풀이를 아래 markdown 셀에 적어보세요.

### 문제 1-9) 명명 규칙 변환

**문제 설명**
`studentAge`라는 변수명을 파이썬 추천 방식인 `snake_case`로 바꿔서 변수를 만들어 보세요.

**입력 예시**
(없음)

**목표 출력**

```text
(저장한 나이 출력)

```

**힌트**

* 대문자로 단어를 구분하는 방식 대신 밑줄 기호를 사용하여 단어를 연결하세요.

In [ ]:
# 연습문제 1-9. 아래 코드를 수정하세요.
studentAge = 30
print(studentAge)

### 문제 1-10) (도전) 총 지출 변수 만들기

**문제 설명**
“총 지출”을 의미하는 변수명을 스스로 정하고 적절한 값을 넣어 만들어 보세요.

**입력 예시**
(없음)

**목표 출력**

```text
총 지출: (값)

```

**힌트**

* 지금까지 배운 의미 있는 변수명 짓기와 명명 규칙을 모두 적용해 보세요.

# 🧩 연습문제 02: type/형변환 (1~10문제)

파이썬의 **동적 타이핑** 특징을 이해하고, `type()` 함수와 형변환 함수(`int`, `float`, `str`)를 사용하여 데이터의 타입을 제어하는 방법을 연습합니다.

### 문제 2-1) 정수형 타입 확인

**문제 설명**  
변수 `x`에 `10`을 저장한 후, `type(x)`를 출력하여 자료형을 확인해 보세요.

**입력 예시**  
(없음)

**목표 출력**

```text
<class 'int'>
```

In [ ]:
# 연습문제 2-1

### 문제 2-2) 동적 타이핑 확인

**문제 설명**  
앞서 만든 변수 `x`에 문자열 `"10"`을 다시 저장한 후, `type(x)`를 출력하여 타입이 어떻게 변하는지 확인해 보세요.

**입력 예시**  
(없음)

**목표 출력**

```text
<class 'str'>
```

In [ ]:
# 연습문제 2-2

### 문제 2-3) 문자열을 정수로 형변환

**문제 설명**  
문자열 `"100"`을 정수형(int)으로 변환한 뒤, 숫자 `25`를 더한 결과를 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
125
```

In [ ]:
# 연습문제 2-3

### 문제 2-4) 문자열을 실수로 형변환

**문제 설명**  
문자열 `"3.5"`를 실수형(float)으로 변환한 뒤, 숫자 `2`를 곱한 결과를 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
7.0
```

In [ ]:
# 연습문제 2-4

### 문제 2-5) 숫자를 문자열로 형변환

**문제 설명**  
변수 `n = 7`일 때, 이 값을 문자열형(str)으로 변환하고 그 결과의 타입을 `type()`으로 확인하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
<class 'str'>
```

In [ ]:
# 연습문제 2-5

### 문제 2-6) 타입 불일치 에러 해결하기

**문제 설명**  
`"10" + 20` 코드는 왜 에러가 발생하는지 생각해보세요. 이를 해결하여 결과값 `30`이 출력되도록 코드를 작성하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
30
```

In [ ]:
# 연습문제 2-6. 아래 코드를 수정하세요.
result = "10"+20

### 문제 2-7) 나누기 연산의 결과 타입

**문제 설명**  
`10 / 2`를 계산한 결과값과 그 결과의 자료형(`type`)을 출력해 보세요.

**입력 예시**  
(없음)

**목표 출력**

```text
5.0 <class 'float'>
```

In [ ]:
# 연습문제 2-7
result = 10 / 2

### 문제 2-8) 문자열 반복 연산

**문제 설명**  
문자열 `"1"`에 숫자 `5`를 곱했을 때(`"1" * 5`) 어떤 결과가 나오는지 예측하고 직접 실행해 보세요.

**입력 예시**  
(없음)

**목표 출력**

```text
11111
```

In [ ]:
# 연습문제 2-8
print("1" * 5)

### 문제 2-9) 실수의 정수 형변환 특징

**문제 설명**  
`int(3.99)`를 실행했을 때의 결과를 확인하고, 왜 그 값이 나오는지 확인해 보세요.

**입력 예시**  
(없음)

**목표 출력**

```text
3
```

In [ ]:
# 연습문제 2-9
print(int(3.99))

### 문제 2-10) (도전) 콤마 포함 입력값 계산

**문제 설명**  
사용자로부터 `"1,234"`와 같은 문자열을 입력받아 콤마를 제거한 뒤 정수로 변환하고, 여기에 `10`을 더한 결과를 출력하세요.

**입력 예시**

```text
1,234
```

**목표 출력**

```text
1244
```

In [ ]:
# 문제 2-10

# 🧩 연습문제 03: 산술/다중할당 (1~10문제)

기본적인 산술 연산자와 파이썬의 편리한 기능인 다중 할당, 동일 값 할당 및 사용자 입력을 활용한 연산 방법을 연습합니다.

### 문제 3-1) 기본 산술 연산 결과 출력

**문제 설명**  
`a = 8`, `b = 3`일 때, 두 변수를 활용하여 더하기, 빼기, 곱하기, 나누기(`+`, `-`, `*`, `/`) 결과를 각각 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
11
5
24
2.6666666666666665
```

In [ ]:
# 연습문제 3-1. 아래 코드를 완성하세요.
a = 8
b = 3
print()
print()
print()
print()

### 문제 3-2) 연산 우선순위 계산

**문제 설명**  
`(10 - 2) * 3`을 계산하여 결과를 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
24
```

In [ ]:
# 연습문제 3-2
print()

### 문제 3-3) 문자열 반복 출력

**문제 설명**  
문자열 `"hi"`를 4번 반복하여 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
hihihihi
```

In [ ]:
# 연습문제 3-3
print()

### 문제 3-4) 다중 할당 활용

**문제 설명**  
다중 할당 방식을 사용하여 변수 `a`에는 `5`를, `b`에는 `9`를 한 줄로 저장하고 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
5 9
```

In [ ]:
# 연습문제 3-4

### 문제 3-5) 변수의 값 서로 바꾸기 (Swap)

**문제 설명**  
`a = 100`, `b = 200`을 먼저 저장한 뒤, 다중 할당을 이용해 두 변수의 값을 서로 바꾸어 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
200 100
```

In [ ]:
# 연습문제 3-5
a = 100
b = 200

### 문제 3-6) 동일 값 할당 후 특정 변수 수정

**문제 설명**  
`x`, `y`, `z` 세 변수에 모두 `1`을 한 번에 저장한 후, `y`의 값만 `10`으로 바꾸어 세 변수를 모두 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
1 10 1
```

In [ ]:
# 연습문제 3-6 아래 코드를 완성하세요




print(x, y, z)

### 문제 3-7) 정수 2개 입력받아 곱 출력하기

**문제 설명**  
사용자에게 정수 2개를 공백으로 구분하여 입력받은 후, 두 수의 곱을 출력하세요.

**입력 예시**

```text
4 6
```

**목표 출력**

```text
24
```

**힌트**
split() 함수로 입력받은 문자열을 공백 기준으로 나누고, map(int, ...)를 사용하여 숫자형으로 일괄 변환하세요.

In [ ]:
# 연습문제 3-7

### 문제 3-8) split 결과의 데이터 타입 확인

**문제 설명**  
`a, b = input().split()` 코드를 실행하여 값을 입력했을 때, 변수 `a`와 `b`에 저장된 값의 타입을 `type()` 함수로 확인해 보세요.

**입력 예시**

```text
10 20
```

**목표 출력**

```text
<class 'str'> <class 'str'>
```

In [ ]:
# 연습문제 3-8
a, b = input("두 값을 입력하세요: ").split()

### 문제 3-9) 나누기 연산 결과의 특징 설명

**문제 설명**  
정수끼리 나누어도 `10 / 2`의 결과가 정수 `5`가 아닌 실수 `5.0`이 되는 이유를 주석으로 한 줄 설명하세요.

In [ ]:
# 연습문제 3-9
#

### 문제 3-10) (도전) 소수점 자리수 지정 출력

**문제 설명**  
나눗셈 결과를 소수점 둘째 자리까지 표현되도록 f-string 포맷팅을 사용하여 출력하세요.

**입력 예시**  
(없음)

**목표 출력**

```text
결과: 3.33
```

In [ ]:
# 연습문제 3-10
result = 10 / 3